# Coronavirus Disease (COVID-19)

Data Source: https://github.com/owid/covid-19-data/tree/master/public/data/

# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import os
import warnings

# Options and Settings

In [2]:
%matplotlib inline
plt.style.use('ggplot')
plt.rcParams['figure.autolayout'] = True
plt.rcParams['figure.figsize'] = [12, 9]
plt.rcParams['font.size'] = 12
path = os.getcwd()                                         # get current working directory
warnings.simplefilter('ignore')

# Import Data

In [3]:
filepath = os.path.join('datasets', 'owid-covid-data.csv')
df = pd.read_csv(filepath)

# Head and Tail

In [4]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165175,ZWE,Africa,Zimbabwe,2022-02-24,234967.0,378.0,338.429,5390.0,2.0,1.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
165176,ZWE,Africa,Zimbabwe,2022-02-25,235467.0,500.0,348.143,5392.0,2.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
165177,ZWE,Africa,Zimbabwe,2022-02-26,235803.0,336.0,368.429,5393.0,1.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
165178,ZWE,Africa,Zimbabwe,2022-02-27,235803.0,0.0,350.143,5393.0,0.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
165179,ZWE,Africa,Zimbabwe,2022-02-28,236380.0,577.0,401.286,5395.0,2.0,1.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [5]:
df.shape

(165180, 67)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165180 entries, 0 to 165179
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    165180 non-null  object
 1   continent                                   155289 non-null  object
 2   location                                    165180 non-null  object
 3   date                                        165180 non-null  object
 4   total_cases                                 162150 non-null  float64
 5   new_cases                                   162099 non-null  float64
 6   new_cases_smoothed                          160948 non-null  float64
 7   total_deaths                                144355 non-null  float64
 8   new_deaths                                  144509 non-null  float64
 9   new_deaths_smoothed                         144379 non-null  float64
 10  total_cases_per_million                     161397 non-null  float64
 11  new_cases_per_million                       161346 non-null  float64
 12  new_cases_smoothed_per_million              160200 non-null  float64
 13  total_deaths_per_million                    143615 non-null  float64
 14  new_deaths_per_million                      143769 non-null  float64
 15  new_deaths_smoothed_per_million             143639 non-null  float64
 16  reproduction_rate                           125067 non-null  float64
 17  icu_patients                                23284 non-null   float64
 18  icu_patients_per_million                    23284 non-null   float64
 19  hosp_patients                               24429 non-null   float64
 20  hosp_patients_per_million                   24429 non-null   float64
 21  weekly_icu_admissions                       5388 non-null    float64
 22  weekly_icu_admissions_per_million           5388 non-null    float64
 23  weekly_hosp_admissions                      10846 non-null   float64
 24  weekly_hosp_admissions_per_million          10846 non-null   float64
 25  new_tests                                   67006 non-null   float64
 26  total_tests                                 68944 non-null   float64
 27  total_tests_per_thousand                    68944 non-null   float64
 28  new_tests_per_thousand                      67006 non-null   float64
 29  new_tests_smoothed                          83658 non-null   float64
 30  new_tests_smoothed_per_thousand             83658 non-null   float64
 31  positive_rate                               78590 non-null   float64
 32  tests_per_case                              78027 non-null   float64
 33  tests_units                                 85981 non-null   object
 34  total_vaccinations                          44768 non-null   float64
 35  people_vaccinated                           42607 non-null   float64
 36  people_fully_vaccinated                     39955 non-null   float64
 37  total_boosters                              17158 non-null   float64
 38  new_vaccinations                            37076 non-null   float64
 39  new_vaccinations_smoothed                   83800 non-null   float64
 40  total_vaccinations_per_hundred              44768 non-null   float64
 41  people_vaccinated_per_hundred               42607 non-null   float64
 42  people_fully_vaccinated_per_hundred         39955 non-null   float64
 43  total_boosters_per_hundred                  17158 non-null   float64
 44  new_vaccinations_smoothed_per_million       83800 non-null   float64
 45  new_people_vaccinated_smoothed              82540 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  82540 non-null   float64
 47  stringency_index                            129739 non-null  float64
 48  population                                  164110 non-null  float64
 49  population_density                          146905 non-null  float64
 50  median_age                                  136878 non-null  float64
 51  aged_65_older                               135394 non-null  float64
 52  aged_70_older                               136144 non-null  float64
 53  gdp_per_capita                              137546 non-null  float64
 54  extreme_poverty                             90587 non-null   float64
 55  cardiovasc_death_rate                       135830 non-null  float64
 56  diabetes_prevalence                         142951 non-null  float64
 57  female_smokers                              105317 non-null  float64
 58  male_smokers                                103872 non-null  float64
 59  handwashing_facilities                      68094 non-null   float64
 60  hospital_beds_per_thousand                  122811 non-null  float64
 61  life_expectancy                             154190 non-null  float64
 62  human_development_index                     135305 non-null  float64
 63  excess_mortality_cumulative_absolute        5696 non-null    float64
 64  excess_mortality_cumulative                 5696 non-null    float64
 65  excess_mortality                            5696 non-null    float64
 66  excess_mortality_cumulative_per_million     5696 non-null    float64
dtypes: float64(62), object(5)
memory usage: 84.4+ MB

In [7]:
df['date'] = pd.to_datetime(df['date'])                   # convert date to pandas datetime

In [8]:
df['day_name'] = df['date'].dt.day_name()                 # add name of the day
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,day_name
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,Monday
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,Tuesday
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,Wednesday
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,Thursday
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,Friday

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165180 entries, 0 to 165179
Data columns (total 68 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    165180 non-null  object
 1   continent                                   155289 non-null  object
 2   location                                    165180 non-null  object
 3   date                                        165180 non-null  datetime64[ns]
 4   total_cases                                 162150 non-null  float64
 5   new_cases                                   162099 non-null  float64
 6   new_cases_smoothed                          160948 non-null  float64
 7   total_deaths                                144355 non-null  float64
 8   new_deaths                                  144509 non-null  float64
 9   new_deaths_smoothed                         144379 non-null  float64
 10  total_cases_per_million                     161397 non-null  float64
 11  new_cases_per_million                       161346 non-null  float64
 12  new_cases_smoothed_per_million              160200 non-null  float64
 13  total_deaths_per_million                    143615 non-null  float64
 14  new_deaths_per_million                      143769 non-null  float64
 15  new_deaths_smoothed_per_million             143639 non-null  float64
 16  reproduction_rate                           125067 non-null  float64
 17  icu_patients                                23284 non-null   float64
 18  icu_patients_per_million                    23284 non-null   float64
 19  hosp_patients                               24429 non-null   float64
 20  hosp_patients_per_million                   24429 non-null   float64
 21  weekly_icu_admissions                       5388 non-null    float64
 22  weekly_icu_admissions_per_million           5388 non-null    float64
 23  weekly_hosp_admissions                      10846 non-null   float64
 24  weekly_hosp_admissions_per_million          10846 non-null   float64
 25  new_tests                                   67006 non-null   float64
 26  total_tests                                 68944 non-null   float64
 27  total_tests_per_thousand                    68944 non-null   float64
 28  new_tests_per_thousand                      67006 non-null   float64
 29  new_tests_smoothed                          83658 non-null   float64
 30  new_tests_smoothed_per_thousand             83658 non-null   float64
 31  positive_rate                               78590 non-null   float64
 32  tests_per_case                              78027 non-null   float64
 33  tests_units                                 85981 non-null   object
 34  total_vaccinations                          44768 non-null   float64
 35  people_vaccinated                           42607 non-null   float64
 36  people_fully_vaccinated                     39955 non-null   float64
 37  total_boosters                              17158 non-null   float64
 38  new_vaccinations                            37076 non-null   float64
 39  new_vaccinations_smoothed                   83800 non-null   float64
 40  total_vaccinations_per_hundred              44768 non-null   float64
 41  people_vaccinated_per_hundred               42607 non-null   float64
 42  people_fully_vaccinated_per_hundred         39955 non-null   float64
 43  total_boosters_per_hundred                  17158 non-null   float64
 44  new_vaccinations_smoothed_per_million       83800 non-null   float64
 45  new_people_vaccinated_smoothed              82540 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  82540 non-null   float64
 47  stringency_index                            129739 non-null  float64
 48  population                                  164110 non-null  float64
 49  population_density                          146905 non-null  float64
 50  median_age                                  136878 non-null  float64
 51  aged_65_older                               135394 non-null  float64
 52  aged_70_older                               136144 non-null  float64
 53  gdp_per_capita                              137546 non-null  float64
 54  extreme_poverty                             90587 non-null   float64
 55  cardiovasc_death_rate                       135830 non-null  float64
 56  diabetes_prevalence                         142951 non-null  float64
 57  female_smokers                              105317 non-null  float64
 58  male_smokers                                103872 non-null  float64
 59  handwashing_facilities                      68094 non-null   float64
 60  hospital_beds_per_thousand                  122811 non-null  float64
 61  life_expectancy                             154190 non-null  float64
 62  human_development_index                     135305 non-null  float64
 63  excess_mortality_cumulative_absolute        5696 non-null    float64
 64  excess_mortality_cumulative                 5696 non-null    float64
 65  excess_mortality                            5696 non-null    float64
 66  excess_mortality_cumulative_per_million     5696 non-null    float64
 67  day_name                                    165180 non-null  object
dtypes: datetime64[ns](1), float64(62), object(5)
memory usage: 85.7+ MB

# Missing Data Exploration

In [10]:
df.isna().sum()                                           # over 50 % missing data in some columns

iso_code                                        0
continent                                    9891
location                                        0
date                                            0
total_cases                                  3030
                                            ...
excess_mortality_cumulative_absolute       159484
excess_mortality_cumulative                159484
excess_mortality                           159484
excess_mortality_cumulative_per_million    159484
day_name                                        0
Length: 68, dtype: int64

Strategies for handling missing values: Using ffill()-forwardfill: according to the next observed value  OR bfill()-backfill: according to the last observed value

In [11]:
df.bfill().isna().sum()                                   # 6126 rows still missing with the backward fill strategy

iso_code                                      0
continent                                     0
location                                      0
date                                          0
total_cases                                   0
                                           ...
excess_mortality_cumulative_absolute       6126
excess_mortality_cumulative                6126
excess_mortality                           6126
excess_mortality_cumulative_per_million    6126
day_name                                      0
Length: 68, dtype: int64

In [12]:
df.ffill().isna().sum()                                   # 1487 rows missing with the forward fill strategy

iso_code                                      0
continent                                     0
location                                      0
date                                          0
total_cases                                   0
                                           ...
excess_mortality_cumulative_absolute       1487
excess_mortality_cumulative                1487
excess_mortality                           1487
excess_mortality_cumulative_per_million    1487
day_name                                      0
Length: 68, dtype: int64

In [13]:
df_ffill = df.ffill()
df_ffill.isna().sum()

iso_code                                      0
continent                                     0
location                                      0
date                                          0
total_cases                                   0
                                           ...
excess_mortality_cumulative_absolute       1487
excess_mortality_cumulative                1487
excess_mortality                           1487
excess_mortality_cumulative_per_million    1487
day_name                                      0
Length: 68, dtype: int64

In [14]:
df_ffill.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.651800e+05,1.651800e+05,1.651750e+05,1.651520e+05,165152.000000,165152.000000,165180.000000,165180.000000,165175.000000,165152.000000,...,163697.000000,163697.000000,165180.000000,165180.000000,165180.000000,165180.000000,1.636930e+05,163693.000000,163693.000000,163693.000000
mean,2.488950e+06,1.142554e+04,1.158035e+04,5.643936e+04,158.192368,158.827925,29656.548117,167.852918,172.368592,566.947183,...,11.470611,31.689481,48.405496,3.005906,73.482784,0.722305,6.863073e+04,13.355385,24.859429,1661.102086
std,1.502540e+07,8.294593e+04,8.168798e+04,2.957866e+05,789.548818,772.358465,51016.130209,680.470069,545.757959,828.871268,...,11.306356,13.894799,32.476283,2.483058,7.415484,0.150566,2.064114e+05,14.499356,35.772052,2118.958575
min,1.000000e+00,-7.434700e+04,-6.223000e+03,1.000000e+00,-1918.000000,-232.143000,0.001000,-13876.282000,-1936.106000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-3.772610e+04,-28.450000,-95.920000,-1826.595723
25%,2.073000e+03,1.000000e+00,7.000000e+00,8.500000e+01,0.000000,0.143000,651.363000,0.059000,1.637000,23.191500,...,1.900000,21.000000,19.275000,1.200000,68.370000,0.594000,1.420000e+02,2.530000,1.120000,170.863057
50%,2.763200e+04,8.000000e+01,1.075710e+02,8.520000e+02,2.000000,2.000000,4949.360000,11.942000,19.525000,163.619500,...,6.400000,30.400000,44.600000,2.320000,75.000000,0.740000,5.249600e+03,11.360000,15.030000,1017.459621
75%,3.046545e+05,1.068000e+03,1.186143e+03,7.800000e+03,19.000000,20.000000,39538.212250,101.313000,128.339500,835.020000,...,20.100000,40.800000,80.635000,4.000000,78.880000,0.845000,3.875630e+04,23.470000,45.800000,2574.351715
max,4.369819e+08,4.205408e+06,3.444963e+06,5.956509e+06,18058.000000,14705.857000,697959.350000,51427.491000,16052.608000,6315.219000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.080748e+06,111.010000,374.930000,9153.060433

# Time Series Resampling

In [15]:
df_halfhr = df_ffill.set_index('date').resample('30T').agg(np.sum)                              # half an hour
ts_hr = df_ffill.set_index('date').resample('H').agg(np.sum)                                    # hourly
ts_daily = df_ffill.set_index('date')                                                           # daily
ts_weekly = df_ffill.set_index('date').resample('W').agg([np.min, np.mean, np.max, np.sum])     # weekly
ts_mon15th = df_ffill.set_index('date').resample('SMS').agg([np.min, np.mean, np.max, np.sum])  # 15th (or other day_of_month) and calendar month begin      
ts_monthly = df_ffill.set_index('date').resample('M').agg([np.min, np.mean, np.max, np.sum])    # calendar month end
ts_quarterly = df_ffill.set_index('date').resample('Q').agg([np.min, np.mean, np.max, np.sum])  # calendar quarter end

# Data Visualization

In [16]:
# create a helper function for y-axis formatter
from matplotlib.ticker import FuncFormatter

def million(x, pos):
    'the two arguments are the value and tick position' 
    return '%1.1fM' % (x * 1e-6)

fomat_mill = FuncFormatter(million)

# create a line chart function
def plot_line(x, y, df, ax, hue=None, xlabel=None, ylabel=None, main_title=None, leg_title=None, loc=None, leg_labels=None):
    # initiate matplot figure
    fig, ax = plt.subplots()
    fig.autofmt_xdate()

    # create line chart
    sns.lineplot(x=x, y=y, hue=hue, ax=ax, data=df, ci=None)

    # label plot axis
    ax.set(xlabel=xlabel, ylabel=ylabel, title=main_title)

    # y-axis formatter
    ax.yaxis.set_major_formatter(fomat_mill)

    # label plot legend
    plt.legend(title=leg_title, loc=loc, labels=leg_labels)

    return plot_line

In [17]:
plot_line(x='date', y='total_cases', 
          df=df_ffill, ax=ax, hue='continent',   
          xlabel='year', ylabel='total cases', main_title='Covid-19 total cases by Continent')

NameError: name 'ax' is not defined

In [ ]:
plot_line(x='date', y='total_deaths', 
          df=df_ffill, ax=ax, hue='continent',   
          xlabel='year', ylabel='total_deaths', main_title='Covid-19 total deaths by Continent')