# Metro-Bike-Share

Data Source: https://bikeshare.metro.net/about/data/

# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import os
import warnings

# Options and Settings

In [2]:
%matplotlib inline
plt.style.use('ggplot')
plt.rcParams['figure.autolayout'] = True
plt.rcParams['figure.figsize'] = [12, 9]
plt.rcParams['font.size'] = 12
path = os.getcwd()                                         # get current working directory
warnings.simplefilter('ignore')

# Import Data

In [3]:
filepath = os.path.join('datasets', 'metro-trips-2021.csv')
df = pd.read_csv(filepath)

# Head and Tail

In [4]:
df

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,151713183,17,1/1/2021 1:45,1/1/2021 2:02,3005,34.048500,-118.258537,4304,34.062580,-118.290092,5894,1,One Way,Walk-up,standard
1,151713983,7,1/1/2021 2:35,1/1/2021 2:42,4390,34.069271,-118.296593,4456,34.052429,-118.302017,16901,365,One Way,Annual Pass,electric
2,151716483,8,1/1/2021 4:28,1/1/2021 4:36,3052,34.051102,-118.264557,4314,34.057709,-118.279762,6005,30,One Way,Monthly Pass,standard
3,151721185,208,1/1/2021 4:43,1/1/2021 8:11,3034,34.042061,-118.263382,3031,34.044701,-118.252441,5852,1,One Way,Walk-up,standard
4,151720984,129,1/1/2021 5:53,1/1/2021 8:02,4446,34.053230,-118.278419,4446,34.053230,-118.278419,12075,1,Round Trip,Walk-up,standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220992,179408277,19,12/31/2021 23:29,12/31/2021 23:48,3033,34.040989,-118.255798,3011,34.041130,-118.267982,14027,1,One Way,One Day Pass,standard
220993,179408276,8,12/31/2021 23:40,12/31/2021 23:48,3031,34.044701,-118.252441,3030,34.051941,-118.243530,20006,365,One Way,Annual Pass,standard
220994,179409877,43,12/31/2021 23:47,1/1/2022 0:30,3031,34.044701,-118.252441,3031,34.044701,-118.252441,16214,1,Round Trip,Walk-up,standard
220995,179409876,42,12/31/2021 23:48,1/1/2022 0:30,3031,34.044701,-118.252441,3031,34.044701,-118.252441,13336,1,Round Trip,Walk-up,standard
220996,179492474,1440,12/31/2021 23:48,1/2/2022 12:56,3030,34.051941,-118.243530,4491,34.047440,-118.247940,6117,1,One Way,One Day Pass,standard

In [5]:
df.shape

(220997, 15)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220997 entries, 0 to 220996
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   trip_id              220997 non-null  int64
 1   duration             220997 non-null  int64
 2   start_time           220997 non-null  object
 3   end_time             220997 non-null  object
 4   start_station        220997 non-null  int64
 5   start_lat            220770 non-null  float64
 6   start_lon            220770 non-null  float64
 7   end_station          220997 non-null  int64
 8   end_lat              215391 non-null  float64
 9   end_lon              215391 non-null  float64
 10  bike_id              220997 non-null  object
 11  plan_duration        220997 non-null  int64
 12  trip_route_category  220997 non-null  object
 13  passholder_type      220996 non-null  object
 14  bike_type            220997 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 25.3+ MB

In [7]:
df[['start_time', 'end_time']] = df[['start_time', 'end_time']].apply(pd.to_datetime)   # convert dates to pandas datetime

In [8]:
df['day_name'] = df['start_time'].dt.day_name()                                         # add day name

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220997 entries, 0 to 220996
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   trip_id              220997 non-null  int64
 1   duration             220997 non-null  int64
 2   start_time           220997 non-null  datetime64[ns]
 3   end_time             220997 non-null  datetime64[ns]
 4   start_station        220997 non-null  int64
 5   start_lat            220770 non-null  float64
 6   start_lon            220770 non-null  float64
 7   end_station          220997 non-null  int64
 8   end_lat              215391 non-null  float64
 9   end_lon              215391 non-null  float64
 10  bike_id              220997 non-null  object
 11  plan_duration        220997 non-null  int64
 12  trip_route_category  220997 non-null  object
 13  passholder_type      220996 non-null  object
 14  bike_type            220997 non-null  object
 15  day_name             220997 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(5), object(5)
memory usage: 27.0+ MB

# Missing Data Exploration

In [10]:
df.isna().sum()                                               # less than 1% missing data in (longitute and latitude) columns

trip_id                   0
duration                  0
start_time                0
end_time                  0
start_station             0
start_lat               227
start_lon               227
end_station               0
end_lat                5606
end_lon                5606
bike_id                   0
plan_duration             0
trip_route_category       0
passholder_type           1
bike_type                 0
day_name                  0
dtype: int64

In [11]:
df_drop = df.dropna()                                           # drop missing values
df_drop.head()

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type,day_name
0,151713183,17,2021-01-01 01:45:00,2021-01-01 02:02:00,3005,34.048500,-118.258537,4304,34.062580,-118.290092,5894,1,One Way,Walk-up,standard,Friday
1,151713983,7,2021-01-01 02:35:00,2021-01-01 02:42:00,4390,34.069271,-118.296593,4456,34.052429,-118.302017,16901,365,One Way,Annual Pass,electric,Friday
2,151716483,8,2021-01-01 04:28:00,2021-01-01 04:36:00,3052,34.051102,-118.264557,4314,34.057709,-118.279762,6005,30,One Way,Monthly Pass,standard,Friday
3,151721185,208,2021-01-01 04:43:00,2021-01-01 08:11:00,3034,34.042061,-118.263382,3031,34.044701,-118.252441,5852,1,One Way,Walk-up,standard,Friday
4,151720984,129,2021-01-01 05:53:00,2021-01-01 08:02:00,4446,34.053230,-118.278419,4446,34.053230,-118.278419,12075,1,Round Trip,Walk-up,standard,Friday

In [12]:
df_drop.isna().sum()

trip_id                0
duration               0
start_time             0
end_time               0
start_station          0
start_lat              0
start_lon              0
end_station            0
end_lat                0
end_lon                0
bike_id                0
plan_duration          0
trip_route_category    0
passholder_type        0
bike_type              0
day_name               0
dtype: int64

In [13]:
df_drop.describe(include='object')

       bike_id trip_route_category passholder_type bike_type  day_name
count   215242              215242          215242    215242    215242
unique    3095                   2               5         3         7
top      17174             One Way    Monthly Pass  standard  Saturday
freq       758              165780          101397    161299     36860

In [14]:
df_drop['bike_id'].value_counts()

17174    758
16600    736
19112    627
16914    624
16992    623
        ...
14054      1
15941      1
13700      1
13420      1
15244      1
Name: bike_id, Length: 3095, dtype: int64

In [15]:
df_drop['trip_route_category'].value_counts()

One Way       165780
Round Trip     49462
Name: trip_route_category, dtype: int64

In [16]:
df_drop['passholder_type'].value_counts()

Monthly Pass    101397
Walk-up          67435
One Day Pass     25663
Annual Pass      20746
Testing              1
Name: passholder_type, dtype: int64

In [17]:
df_drop['bike_type'].value_counts()

standard    161299
electric     52225
smart         1718
Name: bike_type, dtype: int64

In [18]:
df_drop['day_name'].value_counts()

Saturday     36860
Sunday       35966
Friday       31298
Thursday     28488
Tuesday      28165
Wednesday    27997
Monday       26468
Name: day_name, dtype: int64

In [19]:
df_drop['duration'].describe()

count    215242.000000
mean         40.369705
std          99.009098
min           1.000000
25%           9.000000
50%          19.000000
75%          35.000000
max        1440.000000
Name: duration, dtype: float64

In [20]:
df_drop.head()

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type,day_name
0,151713183,17,2021-01-01 01:45:00,2021-01-01 02:02:00,3005,34.048500,-118.258537,4304,34.062580,-118.290092,5894,1,One Way,Walk-up,standard,Friday
1,151713983,7,2021-01-01 02:35:00,2021-01-01 02:42:00,4390,34.069271,-118.296593,4456,34.052429,-118.302017,16901,365,One Way,Annual Pass,electric,Friday
2,151716483,8,2021-01-01 04:28:00,2021-01-01 04:36:00,3052,34.051102,-118.264557,4314,34.057709,-118.279762,6005,30,One Way,Monthly Pass,standard,Friday
3,151721185,208,2021-01-01 04:43:00,2021-01-01 08:11:00,3034,34.042061,-118.263382,3031,34.044701,-118.252441,5852,1,One Way,Walk-up,standard,Friday
4,151720984,129,2021-01-01 05:53:00,2021-01-01 08:02:00,4446,34.053230,-118.278419,4446,34.053230,-118.278419,12075,1,Round Trip,Walk-up,standard,Friday