# NYC Taxi Trip Project

https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page
https://www1.nyc.gov/assets/tlc/downloads/pdf/trip_record_user_guide.pdf
https://www1.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf

# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import datetime
import os
import warnings
from IPython.display import Image

# Import Image

In [2]:
image_url = 'https://camo.githubusercontent.com/f4b14c840fba3517a77fcc1ca2cb084771586a59d2593a11b8edd194a3d9e6dc/687474703a2f2f692e68756666706f73742e636f6d2f67656e2f333131383231382f696d616765732f6f2d4e45572d594f524b2d544158492d66616365626f6f6b2e6a7067'
width = 4500
height = 500

Image(url=image_url, width=width, height=height)

# Options and Settings

In [3]:
%matplotlib inline
plt.style.use('ggplot')
plt.rcParams['figure.autolayout'] = True
plt.rcParams['figure.figsize'] = [12, 10]
plt.rcParams['font.size'] = 12
cwd = os.getcwd()                                         # get current working directory
warnings.simplefilter('ignore')

# Import Datasets

In [4]:
jan = os.path.join(cwd, 'datasets', 'TLC Trip Record Data', 'yellow_tripdata_2022-01.parquet')            # january dataframe
feb = os.path.join(cwd, 'datasets', 'TLC Trip Record Data', 'yellow_tripdata_2022-02.parquet')            # febuary dataframe
mar = os.path.join(cwd, 'datasets', 'TLC Trip Record Data', 'yellow_tripdata_2022-03.parquet')            # march dataframe
apr = os.path.join(cwd, 'datasets', 'TLC Trip Record Data', 'yellow_tripdata_2022-04.parquet')            # april dataframe

# View Dataframes

In [5]:
jan_df = pd.read_parquet(jan)
jan_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463926,2,2022-01-31 23:36:53,2022-01-31 23:42:51,NaN,1.32,NaN,None,90,170,0,8.00,0.0,0.5,2.39,0.0,0.3,13.69,NaN,NaN
2463927,2,2022-01-31 23:44:22,2022-01-31 23:55:01,NaN,4.19,NaN,None,107,75,0,16.80,0.0,0.5,4.35,0.0,0.3,24.45,NaN,NaN
2463928,2,2022-01-31 23:39:00,2022-01-31 23:50:00,NaN,2.10,NaN,None,113,246,0,11.22,0.0,0.5,2.00,0.0,0.3,16.52,NaN,NaN
2463929,2,2022-01-31 23:36:42,2022-01-31 23:48:45,NaN,2.92,NaN,None,148,164,0,12.40,0.0,0.5,0.00,0.0,0.3,15.70,NaN,NaN
2463930,2,2022-01-31 23:46:00,2022-02-01 00:13:00,NaN,8.94,NaN,None,186,181,0,25.48,0.0,0.5,6.28,0.0,0.3,35.06,NaN,NaN

In [6]:
feb_df = pd.read_parquet(feb)
feb_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-02-01 00:06:58,2022-02-01 00:19:24,1.0,5.40,1.0,N,138,252,1,17.00,1.75,0.5,3.90,0.00,0.3,23.45,0.0,1.25
1,1,2022-02-01 00:38:22,2022-02-01 00:55:55,1.0,6.40,1.0,N,138,41,2,21.00,1.75,0.5,0.00,6.55,0.3,30.10,0.0,1.25
2,1,2022-02-01 00:03:20,2022-02-01 00:26:59,1.0,12.50,1.0,N,138,200,2,35.50,1.75,0.5,0.00,6.55,0.3,44.60,0.0,1.25
3,2,2022-02-01 00:08:00,2022-02-01 00:28:05,1.0,9.88,1.0,N,239,200,2,28.00,0.50,0.5,0.00,3.00,0.3,34.80,2.5,0.00
4,2,2022-02-01 00:06:48,2022-02-01 00:33:07,1.0,12.16,1.0,N,138,125,1,35.50,0.50,0.5,8.11,0.00,0.3,48.66,2.5,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2979426,2,2022-02-28 23:50:00,2022-03-01 00:06:00,NaN,3.40,NaN,None,163,193,0,14.37,0.00,0.5,0.00,0.00,0.3,17.67,NaN,NaN
2979427,2,2022-02-28 23:06:57,2022-02-28 23:19:12,NaN,3.48,NaN,None,141,4,0,14.51,0.00,0.5,2.00,0.00,0.3,19.81,NaN,NaN
2979428,2,2022-02-28 23:48:13,2022-03-01 00:03:33,NaN,3.05,NaN,None,161,151,0,14.38,0.00,0.5,3.81,0.00,0.3,21.49,NaN,NaN
2979429,2,2022-02-28 23:56:41,2022-03-01 00:04:57,NaN,2.62,NaN,None,141,226,0,12.53,0.00,0.5,1.71,0.00,0.3,17.54,NaN,NaN
2979430,2,2022-02-28 23:04:00,2022-02-28 23:10:00,NaN,1.41,NaN,None,237,142,0,8.80,0.00,0.5,2.57,0.00,0.3,14.67,NaN,NaN

In [7]:
mar_df = pd.read_parquet(mar)
mar_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-03-01 00:13:08,2022-03-01 00:24:35,1.0,2.40,1.0,N,90,209,2,10.00,3.0,0.5,0.00,0.0,0.3,13.80,2.5,0.00
1,1,2022-03-01 00:47:52,2022-03-01 01:00:08,1.0,2.20,1.0,N,148,234,2,10.50,3.0,0.5,0.00,0.0,0.3,14.30,2.5,0.00
2,2,2022-03-01 00:02:46,2022-03-01 00:46:43,1.0,19.78,2.0,N,132,249,1,52.00,0.0,0.5,11.06,0.0,0.3,67.61,2.5,1.25
3,2,2022-03-01 00:52:43,2022-03-01 01:03:40,2.0,2.94,1.0,N,211,66,1,11.00,0.5,0.5,4.44,0.0,0.3,19.24,2.5,0.00
4,2,2022-03-01 00:15:35,2022-03-01 00:34:13,1.0,8.57,1.0,N,138,197,1,25.00,0.5,0.5,5.51,0.0,0.3,33.06,0.0,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627877,2,2022-03-31 23:45:00,2022-04-01 00:01:00,NaN,3.57,NaN,None,48,262,0,18.33,0.0,0.5,1.00,0.0,0.3,22.63,NaN,NaN
3627878,2,2022-03-31 23:59:39,2022-04-01 00:06:09,NaN,2.04,NaN,None,48,238,0,9.75,0.0,0.5,2.00,0.0,0.3,15.05,NaN,NaN
3627879,2,2022-03-31 23:50:00,2022-04-01 00:08:00,NaN,0.59,NaN,None,48,4,0,17.33,0.0,0.5,2.23,0.0,0.3,22.86,NaN,NaN
3627880,2,2022-03-31 23:25:56,2022-03-31 23:32:37,NaN,1.26,NaN,None,158,68,0,8.80,0.0,0.5,2.57,0.0,0.3,14.67,NaN,NaN
3627881,2,2022-03-31 23:08:00,2022-03-31 23:17:00,NaN,1.66,NaN,None,112,256,0,8.80,0.0,0.5,1.82,0.0,0.3,11.42,NaN,NaN

In [8]:
april_df = pd.read_parquet(mar)
april_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-03-01 00:13:08,2022-03-01 00:24:35,1.0,2.40,1.0,N,90,209,2,10.00,3.0,0.5,0.00,0.0,0.3,13.80,2.5,0.00
1,1,2022-03-01 00:47:52,2022-03-01 01:00:08,1.0,2.20,1.0,N,148,234,2,10.50,3.0,0.5,0.00,0.0,0.3,14.30,2.5,0.00
2,2,2022-03-01 00:02:46,2022-03-01 00:46:43,1.0,19.78,2.0,N,132,249,1,52.00,0.0,0.5,11.06,0.0,0.3,67.61,2.5,1.25
3,2,2022-03-01 00:52:43,2022-03-01 01:03:40,2.0,2.94,1.0,N,211,66,1,11.00,0.5,0.5,4.44,0.0,0.3,19.24,2.5,0.00
4,2,2022-03-01 00:15:35,2022-03-01 00:34:13,1.0,8.57,1.0,N,138,197,1,25.00,0.5,0.5,5.51,0.0,0.3,33.06,0.0,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627877,2,2022-03-31 23:45:00,2022-04-01 00:01:00,NaN,3.57,NaN,None,48,262,0,18.33,0.0,0.5,1.00,0.0,0.3,22.63,NaN,NaN
3627878,2,2022-03-31 23:59:39,2022-04-01 00:06:09,NaN,2.04,NaN,None,48,238,0,9.75,0.0,0.5,2.00,0.0,0.3,15.05,NaN,NaN
3627879,2,2022-03-31 23:50:00,2022-04-01 00:08:00,NaN,0.59,NaN,None,48,4,0,17.33,0.0,0.5,2.23,0.0,0.3,22.86,NaN,NaN
3627880,2,2022-03-31 23:25:56,2022-03-31 23:32:37,NaN,1.26,NaN,None,158,68,0,8.80,0.0,0.5,2.57,0.0,0.3,14.67,NaN,NaN
3627881,2,2022-03-31 23:08:00,2022-03-31 23:17:00,NaN,1.66,NaN,None,112,256,0,8.80,0.0,0.5,1.82,0.0,0.3,11.42,NaN,NaN

# Append Dataframes

In [9]:
merged_df = jan_df.append(feb_df).append(mar_df).append(april_df)                 # append january 1st - march 31st dataframes
merged_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627877,2,2022-03-31 23:45:00,2022-04-01 00:01:00,NaN,3.57,NaN,None,48,262,0,18.33,0.0,0.5,1.00,0.0,0.3,22.63,NaN,NaN
3627878,2,2022-03-31 23:59:39,2022-04-01 00:06:09,NaN,2.04,NaN,None,48,238,0,9.75,0.0,0.5,2.00,0.0,0.3,15.05,NaN,NaN
3627879,2,2022-03-31 23:50:00,2022-04-01 00:08:00,NaN,0.59,NaN,None,48,4,0,17.33,0.0,0.5,2.23,0.0,0.3,22.86,NaN,NaN
3627880,2,2022-03-31 23:25:56,2022-03-31 23:32:37,NaN,1.26,NaN,None,158,68,0,8.80,0.0,0.5,2.57,0.0,0.3,14.67,NaN,NaN
3627881,2,2022-03-31 23:08:00,2022-03-31 23:17:00,NaN,1.66,NaN,None,112,256,0,8.80,0.0,0.5,1.82,0.0,0.3,11.42,NaN,NaN

In [10]:
merged_df.columns = [col.lower() for col in merged_df.columns]                    # change all column names to lower cases
merged_df.columns

Index(['vendorid', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'ratecodeid', 'store_and_fwd_flag',
       'pulocationid', 'dolocationid', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [11]:
merged_df.shape

(12699126, 19)

In [12]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12699126 entries, 0 to 3627881
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendorid               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   ratecodeid             float64
 6   store_and_fwd_flag     object
 7   pulocationid           int64
 8   dolocationid           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 1.9+ GB

In [13]:
merged_df.describe(include='object')

       store_and_fwd_flag
count            12290257
unique                  2
top                     N
freq             12050148

In [14]:
merged_df.describe(include='datetime')

       tpep_pickup_datetime tpep_dropoff_datetime
count              12699126              12699126
unique              4678292               4676982
top     2022-03-24 09:25:00   2022-03-25 00:00:00
freq                     26                    44
first   2003-01-01 00:10:06   2003-01-01 12:38:59
last    2022-05-24 17:41:50   2022-05-24 17:43:27

In [15]:
cols = ['vendorid', 'ratecodeid', 'pulocationid', 'dolocationid', 'payment_type']

merged_df[cols] = merged_df[cols].astype('category')                                # change data types to category
merged_df.dtypes

vendorid                       category
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
ratecodeid                     category
store_and_fwd_flag               object
pulocationid                   category
dolocationid                   category
payment_type                   category
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [16]:
merged_df.describe(include='float64')

,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,1.229026e+07,1.269913e+07,1.269913e+07,1.269913e+07,1.269913e+07,1.269913e+07,1.269913e+07,1.269913e+07,1.269913e+07,1.229026e+07,1.229026e+07
mean,1.389839e+00,5.707218e+00,1.355492e+01,1.022240e+00,4.910845e-01,2.563505e+00,4.432215e-01,2.966469e-01,2.006018e+01,2.297045e+00,8.351626e-02
std,9.776055e-01,5.834238e+02,1.132740e+02,1.244356e+00,8.424361e-02,2.963277e+00,1.809248e+00,4.430724e-02,1.136703e+02,7.236242e-01,3.144213e-01
min,0.000000e+00,0.000000e+00,-8.950000e+02,-4.500000e+00,-5.000000e-01,-1.880000e+02,-8.300000e+01,-3.000000e-01,-8.953000e+02,-2.500000e+00,-1.250000e+00
25%,1.000000e+00,1.090000e+00,6.500000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,3.000000e-01,1.180000e+01,2.500000e+00,0.000000e+00
50%,1.000000e+00,1.800000e+00,9.500000e+00,5.000000e-01,5.000000e-01,2.060000e+00,0.000000e+00,3.000000e-01,1.530000e+01,2.500000e+00,0.000000e+00
75%,1.000000e+00,3.300000e+00,1.500000e+01,2.500000e+00,5.000000e-01,3.160000e+00,0.000000e+00,3.000000e-01,2.130000e+01,2.500000e+00,0.000000e+00
max,9.000000e+00,3.487985e+05,4.010923e+05,3.350000e+01,1.710000e+01,8.888800e+02,2.357000e+02,3.000000e-01,4.010956e+05,2.750000e+00,1.250000e+00

In [17]:
merged_df.describe(include='category')

        vendorid  ratecodeid  pulocationid  dolocationid  payment_type
count   12699126  12290257.0      12699126      12699126      12699126
unique         4         7.0           260           261             6
top            2         1.0           237           236             1
freq     8904472  11750427.0        600833        578183       9741025

In [18]:
merged_df['vendorid'].nunique()

4

In [19]:
merged_df['vendorid'].value_counts()

2    8904472
1    3766045
6      28523
5         86
Name: vendorid, dtype: int64

In [20]:
merged_df['pulocationid'].nunique()

260

In [21]:
merged_df['pulocationid'].value_counts()

237    600833
236    560240
132    515064
161    507545
186    414450
        ...
59          4
251         3
27          3
84          1
99          1
Name: pulocationid, Length: 260, dtype: int64

In [22]:
merged_df['dolocationid'].nunique()

261

In [23]:
merged_df['dolocationid'].value_counts()

236    578183
237    526098
161    443761
170    384840
239    367149
        ...
84         49
204        44
2          12
105        11
99          8
Name: dolocationid, Length: 261, dtype: int64

In [24]:
merged_df['payment_type'].nunique()

6

In [25]:
merged_df['payment_type'].value_counts()

1    9741025
2    2439043
0     408869
3      56013
4      54172
5          4
Name: payment_type, dtype: int64

# Data Transformation

In [26]:
# create categories for vendor id
def vendorid_cat(x):
  if x == 1:
    return 'Creative Mobile Technologies, LLC'
  elif x == 2:
    return 'VeriFone Inc'
  elif x == 5:
    return 'Five'
  else:
    return 'Six'


merged_df['vendor_id_cat'] = merged_df['vendorid'].apply(lambda x: vendorid_cat(x))
merged_df['vendor_id_cat']

0          Creative Mobile Technologies, LLC
1          Creative Mobile Technologies, LLC
2                               VeriFone Inc
3                               VeriFone Inc
4                               VeriFone Inc
                         ...
3627877                         VeriFone Inc
3627878                         VeriFone Inc
3627879                         VeriFone Inc
3627880                         VeriFone Inc
3627881                         VeriFone Inc
Name: vendor_id_cat, Length: 12699126, dtype: category
Categories (4, object): ['Creative Mobile Technologies, LLC', 'VeriFone Inc', 'Five', 'Six']

In [27]:
merged_df['vendor_id_cat'].value_counts()

VeriFone Inc                         8904472
Creative Mobile Technologies, LLC    3766045
Six                                    28523
Five                                      86
Name: vendor_id_cat, dtype: int64

In [28]:
# calculate total trip duration
merged_df['trip_duration'] = np.subtract(merged_df['tpep_dropoff_datetime'], merged_df['tpep_pickup_datetime'])
merged_df['trip_duration']

0         0 days 00:17:49
1         0 days 00:08:24
2         0 days 00:08:58
3         0 days 00:10:02
4         0 days 00:37:32
                ...
3627877   0 days 00:16:00
3627878   0 days 00:06:30
3627879   0 days 00:18:00
3627880   0 days 00:06:41
3627881   0 days 00:09:00
Name: trip_duration, Length: 12699126, dtype: timedelta64[ns]

In [29]:
merged_df['trip_duration'].describe()

count                     12699126
mean     0 days 00:15:44.221306726
std      0 days 00:54:38.992203772
min             -50 days +04:00:04
25%                0 days 00:06:56
50%                0 days 00:11:17
75%                0 days 00:18:00
max                6 days 01:59:28
Name: trip_duration, dtype: object

In [30]:
# parse trip duration 
merged_df['trip_day'] = merged_df['trip_duration'].dt.days                                           
merged_df['trip_minutes'] = round(merged_df['trip_duration'].dt.total_seconds() / 60, 2)            
merged_df['trip_seconds'] = merged_df['trip_duration'].dt.total_seconds()                            

merged_df[['trip_day', 'trip_minutes', 'trip_seconds']]

         trip_day  trip_minutes  trip_seconds
0               0         17.82        1069.0
1               0          8.40         504.0
2               0          8.97         538.0
3               0         10.03         602.0
4               0         37.53        2252.0
...           ...           ...           ...
3627877         0         16.00         960.0
3627878         0          6.50         390.0
3627879         0         18.00        1080.0
3627880         0          6.68         401.0
3627881         0          9.00         540.0

[12699126 rows x 3 columns]

In [31]:
merged_df.query("trip_day < 0")

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,vendor_id_cat,trip_duration,trip_day,trip_minutes,trip_seconds
1809900,1,2022-01-24 15:23:01,2022-01-22 06:00:37,1.0,4.70,1.0,N,140,152,4,...,0.0,0.3,20.80,2.5,0.0,"Creative Mobile Technologies, LLC",-3 days +14:37:36,-3,-3442.40,-206544.0
2392571,6,2022-01-01 01:01:54,2022-01-01 01:01:36,NaN,10.72,NaN,None,265,254,0,...,0.0,0.3,45.00,NaN,NaN,Six,-1 days +23:59:42,-1,-0.30,-18.0
2392642,6,2022-01-01 01:01:44,2022-01-01 01:01:20,NaN,2.06,NaN,None,265,41,0,...,0.0,0.3,41.00,NaN,NaN,Six,-1 days +23:59:36,-1,-0.40,-24.0
2393302,6,2022-01-01 04:01:37,2022-01-01 04:01:19,NaN,15.73,NaN,None,265,213,0,...,0.0,0.3,39.09,NaN,NaN,Six,-1 days +23:59:42,-1,-0.30,-18.0
2393327,6,2022-01-01 04:01:23,2022-01-01 04:01:12,NaN,4.17,NaN,None,265,244,0,...,0.0,0.3,16.00,NaN,NaN,Six,-1 days +23:59:49,-1,-0.18,-11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627200,6,2022-03-31 21:03:56,2022-03-31 21:03:51,NaN,10.39,NaN,None,265,51,0,...,0.0,0.3,29.76,NaN,NaN,Six,-1 days +23:59:55,-1,-0.08,-5.0
3627354,6,2022-03-31 21:03:58,2022-03-31 21:03:33,NaN,8.37,NaN,None,265,42,0,...,0.0,0.3,39.84,NaN,NaN,Six,-1 days +23:59:35,-1,-0.42,-25.0
3627397,6,2022-03-31 22:03:07,2022-03-31 22:03:02,NaN,6.72,NaN,None,265,42,0,...,0.0,0.3,42.00,NaN,NaN,Six,-1 days +23:59:55,-1,-0.08,-5.0
3627424,6,2022-03-31 22:03:31,2022-03-31 22:03:15,NaN,1.71,NaN,None,265,135,0,...,0.0,0.3,21.00,NaN,NaN,Six,-1 days +23:59:44,-1,-0.27,-16.0
3627582,6,2022-03-31 22:03:30,2022-03-31 22:03:25,NaN,4.17,NaN,None,265,25,0,...,0.0,0.3,34.00,NaN,NaN,Six,-1 days +23:59:55,-1,-0.08,-5.0

In [32]:
# create categories for ratecode id
def ratecodeid_cat(x):
  if x == 1:
    return 'Standard rate'
  elif x == 2:
    return 'JFK'
  elif x == 3:
    return 'Newark'
  elif x == 4:
    return 'Nassau or Westchester'
  elif x == 5:
    return 'Negotiated fare'
  elif x == 6:
    return 'Group ride'
  return 'Unknown'


merged_df['ratecode_id_cat'] = merged_df['ratecodeid'].apply(lambda x: ratecodeid_cat(x))
merged_df['ratecode_id_cat'].value_counts()

Standard rate            11750427
JFK                        384158
Negotiated fare             70286
Unknown                     45355
Newark                      25114
Nassau or Westchester       14821
Group ride                     96
Name: ratecode_id_cat, dtype: int64

In [33]:
# create categories for store_and_fwd_flag
cond_list = [
  (merged_df['store_and_fwd_flag'] == 'Y'),
  (merged_df['store_and_fwd_flag'] == 'N')
]

choice_list = ['store and forward trip', 'not a store and forward trip']


merged_df['store_and_fwd_flag_cat'] = np.select(condlist=cond_list, choicelist=choice_list)
merged_df['store_and_fwd_flag_cat'].value_counts()

not a store and forward trip    12050148
0                                 408869
store and forward trip            240109
Name: store_and_fwd_flag_cat, dtype: int64

In [34]:
merged_df.query("store_and_fwd_flag_cat == '0'")

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,...,total_amount,congestion_surcharge,airport_fee,vendor_id_cat,trip_duration,trip_day,trip_minutes,trip_seconds,ratecode_id_cat,store_and_fwd_flag_cat
2392428,2,2022-01-01 00:50:00,2022-01-01 00:54:00,NaN,1.00,NaN,None,68,246,0,...,18.25,NaN,NaN,VeriFone Inc,0 days 00:04:00,0,4.00,240.0,NaN,0
2392429,2,2022-01-01 00:49:24,2022-01-01 01:27:36,NaN,13.31,NaN,None,257,223,0,...,55.72,NaN,NaN,VeriFone Inc,0 days 00:38:12,0,38.20,2292.0,NaN,0
2392430,2,2022-01-01 00:42:00,2022-01-01 00:56:00,NaN,2.87,NaN,None,143,236,0,...,20.04,NaN,NaN,VeriFone Inc,0 days 00:14:00,0,14.00,840.0,NaN,0
2392431,2,2022-01-01 00:40:00,2022-01-01 00:55:00,NaN,3.24,NaN,None,143,262,0,...,21.21,NaN,NaN,VeriFone Inc,0 days 00:15:00,0,15.00,900.0,NaN,0
2392432,2,2022-01-01 00:40:00,2022-01-01 00:52:00,NaN,2.19,NaN,None,239,166,0,...,21.75,NaN,NaN,VeriFone Inc,0 days 00:12:00,0,12.00,720.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627877,2,2022-03-31 23:45:00,2022-04-01 00:01:00,NaN,3.57,NaN,None,48,262,0,...,22.63,NaN,NaN,VeriFone Inc,0 days 00:16:00,0,16.00,960.0,NaN,0
3627878,2,2022-03-31 23:59:39,2022-04-01 00:06:09,NaN,2.04,NaN,None,48,238,0,...,15.05,NaN,NaN,VeriFone Inc,0 days 00:06:30,0,6.50,390.0,NaN,0
3627879,2,2022-03-31 23:50:00,2022-04-01 00:08:00,NaN,0.59,NaN,None,48,4,0,...,22.86,NaN,NaN,VeriFone Inc,0 days 00:18:00,0,18.00,1080.0,NaN,0
3627880,2,2022-03-31 23:25:56,2022-03-31 23:32:37,NaN,1.26,NaN,None,158,68,0,...,14.67,NaN,NaN,VeriFone Inc,0 days 00:06:41,0,6.68,401.0,NaN,0
3627881,2,2022-03-31 23:08:00,2022-03-31 23:17:00,NaN,1.66,NaN,None,112,256,0,...,11.42,NaN,NaN,VeriFone Inc,0 days 00:09:00,0,9.00,540.0,NaN,0