# TLC Trip Record Data

https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page
https://www1.nyc.gov/assets/tlc/downloads/pdf/trip_record_user_guide.pdf
https://www1.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf

# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import datetime
import os
import warnings

# Options and Settings

In [2]:
%matplotlib inline
plt.style.use('ggplot')
plt.rcParams['figure.autolayout'] = True
plt.rcParams['figure.figsize'] = [12, 10]
plt.rcParams['font.size'] = 12
cwd = os.getcwd()                                         # get current working directory
warnings.simplefilter('ignore')

# Import Datasets

In [3]:
jan = os.path.join(cwd, 'datasets', 'TLC Trip Record Data', 'yellow_tripdata_2022-01.parquet')            # january dataframe
feb = os.path.join(cwd, 'datasets', 'TLC Trip Record Data', 'yellow_tripdata_2022-02.parquet')            # febuary dataframe
mar = os.path.join(cwd, 'datasets', 'TLC Trip Record Data', 'yellow_tripdata_2022-03.parquet')            # march dataframe
apr = os.path.join(cwd, 'datasets', 'TLC Trip Record Data', 'yellow_tripdata_2022-04.parquet')            # april dataframe

In [4]:
jan_df = pd.read_parquet(jan)
jan_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463926,2,2022-01-31 23:36:53,2022-01-31 23:42:51,NaN,1.32,NaN,None,90,170,0,8.00,0.0,0.5,2.39,0.0,0.3,13.69,NaN,NaN
2463927,2,2022-01-31 23:44:22,2022-01-31 23:55:01,NaN,4.19,NaN,None,107,75,0,16.80,0.0,0.5,4.35,0.0,0.3,24.45,NaN,NaN
2463928,2,2022-01-31 23:39:00,2022-01-31 23:50:00,NaN,2.10,NaN,None,113,246,0,11.22,0.0,0.5,2.00,0.0,0.3,16.52,NaN,NaN
2463929,2,2022-01-31 23:36:42,2022-01-31 23:48:45,NaN,2.92,NaN,None,148,164,0,12.40,0.0,0.5,0.00,0.0,0.3,15.70,NaN,NaN
2463930,2,2022-01-31 23:46:00,2022-02-01 00:13:00,NaN,8.94,NaN,None,186,181,0,25.48,0.0,0.5,6.28,0.0,0.3,35.06,NaN,NaN

In [5]:
feb_df = pd.read_parquet(feb)
feb_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-02-01 00:06:58,2022-02-01 00:19:24,1.0,5.40,1.0,N,138,252,1,17.00,1.75,0.5,3.90,0.00,0.3,23.45,0.0,1.25
1,1,2022-02-01 00:38:22,2022-02-01 00:55:55,1.0,6.40,1.0,N,138,41,2,21.00,1.75,0.5,0.00,6.55,0.3,30.10,0.0,1.25
2,1,2022-02-01 00:03:20,2022-02-01 00:26:59,1.0,12.50,1.0,N,138,200,2,35.50,1.75,0.5,0.00,6.55,0.3,44.60,0.0,1.25
3,2,2022-02-01 00:08:00,2022-02-01 00:28:05,1.0,9.88,1.0,N,239,200,2,28.00,0.50,0.5,0.00,3.00,0.3,34.80,2.5,0.00
4,2,2022-02-01 00:06:48,2022-02-01 00:33:07,1.0,12.16,1.0,N,138,125,1,35.50,0.50,0.5,8.11,0.00,0.3,48.66,2.5,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2979426,2,2022-02-28 23:50:00,2022-03-01 00:06:00,NaN,3.40,NaN,None,163,193,0,14.37,0.00,0.5,0.00,0.00,0.3,17.67,NaN,NaN
2979427,2,2022-02-28 23:06:57,2022-02-28 23:19:12,NaN,3.48,NaN,None,141,4,0,14.51,0.00,0.5,2.00,0.00,0.3,19.81,NaN,NaN
2979428,2,2022-02-28 23:48:13,2022-03-01 00:03:33,NaN,3.05,NaN,None,161,151,0,14.38,0.00,0.5,3.81,0.00,0.3,21.49,NaN,NaN
2979429,2,2022-02-28 23:56:41,2022-03-01 00:04:57,NaN,2.62,NaN,None,141,226,0,12.53,0.00,0.5,1.71,0.00,0.3,17.54,NaN,NaN
2979430,2,2022-02-28 23:04:00,2022-02-28 23:10:00,NaN,1.41,NaN,None,237,142,0,8.80,0.00,0.5,2.57,0.00,0.3,14.67,NaN,NaN

In [6]:
mar_df = pd.read_parquet(mar)
mar_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-03-01 00:13:08,2022-03-01 00:24:35,1.0,2.40,1.0,N,90,209,2,10.00,3.0,0.5,0.00,0.0,0.3,13.80,2.5,0.00
1,1,2022-03-01 00:47:52,2022-03-01 01:00:08,1.0,2.20,1.0,N,148,234,2,10.50,3.0,0.5,0.00,0.0,0.3,14.30,2.5,0.00
2,2,2022-03-01 00:02:46,2022-03-01 00:46:43,1.0,19.78,2.0,N,132,249,1,52.00,0.0,0.5,11.06,0.0,0.3,67.61,2.5,1.25
3,2,2022-03-01 00:52:43,2022-03-01 01:03:40,2.0,2.94,1.0,N,211,66,1,11.00,0.5,0.5,4.44,0.0,0.3,19.24,2.5,0.00
4,2,2022-03-01 00:15:35,2022-03-01 00:34:13,1.0,8.57,1.0,N,138,197,1,25.00,0.5,0.5,5.51,0.0,0.3,33.06,0.0,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627877,2,2022-03-31 23:45:00,2022-04-01 00:01:00,NaN,3.57,NaN,None,48,262,0,18.33,0.0,0.5,1.00,0.0,0.3,22.63,NaN,NaN
3627878,2,2022-03-31 23:59:39,2022-04-01 00:06:09,NaN,2.04,NaN,None,48,238,0,9.75,0.0,0.5,2.00,0.0,0.3,15.05,NaN,NaN
3627879,2,2022-03-31 23:50:00,2022-04-01 00:08:00,NaN,0.59,NaN,None,48,4,0,17.33,0.0,0.5,2.23,0.0,0.3,22.86,NaN,NaN
3627880,2,2022-03-31 23:25:56,2022-03-31 23:32:37,NaN,1.26,NaN,None,158,68,0,8.80,0.0,0.5,2.57,0.0,0.3,14.67,NaN,NaN
3627881,2,2022-03-31 23:08:00,2022-03-31 23:17:00,NaN,1.66,NaN,None,112,256,0,8.80,0.0,0.5,1.82,0.0,0.3,11.42,NaN,NaN

In [7]:
april_df = pd.read_parquet(mar)
april_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-03-01 00:13:08,2022-03-01 00:24:35,1.0,2.40,1.0,N,90,209,2,10.00,3.0,0.5,0.00,0.0,0.3,13.80,2.5,0.00
1,1,2022-03-01 00:47:52,2022-03-01 01:00:08,1.0,2.20,1.0,N,148,234,2,10.50,3.0,0.5,0.00,0.0,0.3,14.30,2.5,0.00
2,2,2022-03-01 00:02:46,2022-03-01 00:46:43,1.0,19.78,2.0,N,132,249,1,52.00,0.0,0.5,11.06,0.0,0.3,67.61,2.5,1.25
3,2,2022-03-01 00:52:43,2022-03-01 01:03:40,2.0,2.94,1.0,N,211,66,1,11.00,0.5,0.5,4.44,0.0,0.3,19.24,2.5,0.00
4,2,2022-03-01 00:15:35,2022-03-01 00:34:13,1.0,8.57,1.0,N,138,197,1,25.00,0.5,0.5,5.51,0.0,0.3,33.06,0.0,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627877,2,2022-03-31 23:45:00,2022-04-01 00:01:00,NaN,3.57,NaN,None,48,262,0,18.33,0.0,0.5,1.00,0.0,0.3,22.63,NaN,NaN
3627878,2,2022-03-31 23:59:39,2022-04-01 00:06:09,NaN,2.04,NaN,None,48,238,0,9.75,0.0,0.5,2.00,0.0,0.3,15.05,NaN,NaN
3627879,2,2022-03-31 23:50:00,2022-04-01 00:08:00,NaN,0.59,NaN,None,48,4,0,17.33,0.0,0.5,2.23,0.0,0.3,22.86,NaN,NaN
3627880,2,2022-03-31 23:25:56,2022-03-31 23:32:37,NaN,1.26,NaN,None,158,68,0,8.80,0.0,0.5,2.57,0.0,0.3,14.67,NaN,NaN
3627881,2,2022-03-31 23:08:00,2022-03-31 23:17:00,NaN,1.66,NaN,None,112,256,0,8.80,0.0,0.5,1.82,0.0,0.3,11.42,NaN,NaN

# Append Dataframes

In [8]:
final_df = jan_df.append(feb_df).append(mar_df).append(april_df)  # append january 1st - march 31st dataframes
final_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627877,2,2022-03-31 23:45:00,2022-04-01 00:01:00,NaN,3.57,NaN,None,48,262,0,18.33,0.0,0.5,1.00,0.0,0.3,22.63,NaN,NaN
3627878,2,2022-03-31 23:59:39,2022-04-01 00:06:09,NaN,2.04,NaN,None,48,238,0,9.75,0.0,0.5,2.00,0.0,0.3,15.05,NaN,NaN
3627879,2,2022-03-31 23:50:00,2022-04-01 00:08:00,NaN,0.59,NaN,None,48,4,0,17.33,0.0,0.5,2.23,0.0,0.3,22.86,NaN,NaN
3627880,2,2022-03-31 23:25:56,2022-03-31 23:32:37,NaN,1.26,NaN,None,158,68,0,8.80,0.0,0.5,2.57,0.0,0.3,14.67,NaN,NaN
3627881,2,2022-03-31 23:08:00,2022-03-31 23:17:00,NaN,1.66,NaN,None,112,256,0,8.80,0.0,0.5,1.82,0.0,0.3,11.42,NaN,NaN

# View Dataframe

In [9]:
final_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627877,2,2022-03-31 23:45:00,2022-04-01 00:01:00,NaN,3.57,NaN,None,48,262,0,18.33,0.0,0.5,1.00,0.0,0.3,22.63,NaN,NaN
3627878,2,2022-03-31 23:59:39,2022-04-01 00:06:09,NaN,2.04,NaN,None,48,238,0,9.75,0.0,0.5,2.00,0.0,0.3,15.05,NaN,NaN
3627879,2,2022-03-31 23:50:00,2022-04-01 00:08:00,NaN,0.59,NaN,None,48,4,0,17.33,0.0,0.5,2.23,0.0,0.3,22.86,NaN,NaN
3627880,2,2022-03-31 23:25:56,2022-03-31 23:32:37,NaN,1.26,NaN,None,158,68,0,8.80,0.0,0.5,2.57,0.0,0.3,14.67,NaN,NaN
3627881,2,2022-03-31 23:08:00,2022-03-31 23:17:00,NaN,1.66,NaN,None,112,256,0,8.80,0.0,0.5,1.82,0.0,0.3,11.42,NaN,NaN

In [10]:
final_df.shape

(12699126, 19)

In [11]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12699126 entries, 0 to 3627881
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 1.9+ GB

In [12]:
final_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627877,2,2022-03-31 23:45:00,2022-04-01 00:01:00,NaN,3.57,NaN,None,48,262,0,18.33,0.0,0.5,1.00,0.0,0.3,22.63,NaN,NaN
3627878,2,2022-03-31 23:59:39,2022-04-01 00:06:09,NaN,2.04,NaN,None,48,238,0,9.75,0.0,0.5,2.00,0.0,0.3,15.05,NaN,NaN
3627879,2,2022-03-31 23:50:00,2022-04-01 00:08:00,NaN,0.59,NaN,None,48,4,0,17.33,0.0,0.5,2.23,0.0,0.3,22.86,NaN,NaN
3627880,2,2022-03-31 23:25:56,2022-03-31 23:32:37,NaN,1.26,NaN,None,158,68,0,8.80,0.0,0.5,2.57,0.0,0.3,14.67,NaN,NaN
3627881,2,2022-03-31 23:08:00,2022-03-31 23:17:00,NaN,1.66,NaN,None,112,256,0,8.80,0.0,0.5,1.82,0.0,0.3,11.42,NaN,NaN

In [13]:
final_df['VendorID'].nunique()

4

In [14]:
final_df['VendorID'].value_counts()

2    8904472
1    3766045
6      28523
5         86
Name: VendorID, dtype: int64

In [15]:
final_df['RatecodeID'].nunique()

7

In [16]:
final_df['RatecodeID'].value_counts()

1.0     11750427
2.0       384158
5.0        70286
99.0       45355
3.0        25114
4.0        14821
6.0           96
Name: RatecodeID, dtype: int64

# Data Transformation

In [17]:
# create categories for vendor id
def vendorid_cat(x):
  if x == 1:
    return 'Creative Mobile Technologies'
  elif x == 2:
    return 'VeriFone Inc'
  elif x == 5:
    return 'Five'
  else:
    return 'Six'


final_df['VendorID_Cat'] = final_df['VendorID'].apply(lambda x: vendorid_cat(x))
final_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,VendorID_Cat
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0,Creative Mobile Technologies
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0,Creative Mobile Technologies
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0,VeriFone Inc
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0,VeriFone Inc
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0,VeriFone Inc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627877,2,2022-03-31 23:45:00,2022-04-01 00:01:00,NaN,3.57,NaN,None,48,262,0,18.33,0.0,0.5,1.00,0.0,0.3,22.63,NaN,NaN,VeriFone Inc
3627878,2,2022-03-31 23:59:39,2022-04-01 00:06:09,NaN,2.04,NaN,None,48,238,0,9.75,0.0,0.5,2.00,0.0,0.3,15.05,NaN,NaN,VeriFone Inc
3627879,2,2022-03-31 23:50:00,2022-04-01 00:08:00,NaN,0.59,NaN,None,48,4,0,17.33,0.0,0.5,2.23,0.0,0.3,22.86,NaN,NaN,VeriFone Inc
3627880,2,2022-03-31 23:25:56,2022-03-31 23:32:37,NaN,1.26,NaN,None,158,68,0,8.80,0.0,0.5,2.57,0.0,0.3,14.67,NaN,NaN,VeriFone Inc
3627881,2,2022-03-31 23:08:00,2022-03-31 23:17:00,NaN,1.66,NaN,None,112,256,0,8.80,0.0,0.5,1.82,0.0,0.3,11.42,NaN,NaN,VeriFone Inc

In [18]:
final_df['VendorID_Cat'].value_counts()

VeriFone Inc                    8904472
Creative Mobile Technologies    3766045
Six                               28523
Five                                 86
Name: VendorID_Cat, dtype: int64

In [19]:
# calculate the trip duration
final_df['trip_duration'] = np.subtract(final_df['tpep_dropoff_datetime'], final_df['tpep_pickup_datetime'])
final_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,VendorID_Cat,trip_duration
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,...,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0,Creative Mobile Technologies,0 days 00:17:49
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,...,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0,Creative Mobile Technologies,0 days 00:08:24
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,...,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0,VeriFone Inc,0 days 00:08:58
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,...,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0,VeriFone Inc,0 days 00:10:02
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,...,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0,VeriFone Inc,0 days 00:37:32

# Parse Trip Duration Date

In [20]:
# parse trip duration
final_df['time'] = round((final_df['trip_duration'].dt.total_seconds()) / 60, 2)          # extract minutes
final_df['time_seconds'] = final_df['trip_duration'].dt.total_seconds()                   # get total seconds
final_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,VendorID_Cat,trip_duration,time,time_seconds
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,...,3.65,0.0,0.3,21.95,2.5,0.0,Creative Mobile Technologies,0 days 00:17:49,17.82,1069.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,...,4.00,0.0,0.3,13.30,0.0,0.0,Creative Mobile Technologies,0 days 00:08:24,8.40,504.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,...,1.76,0.0,0.3,10.56,0.0,0.0,VeriFone Inc,0 days 00:08:58,8.97,538.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,...,0.00,0.0,0.3,11.80,2.5,0.0,VeriFone Inc,0 days 00:10:02,10.03,602.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,...,3.00,0.0,0.3,30.30,2.5,0.0,VeriFone Inc,0 days 00:37:32,37.53,2252.0

In [21]:
final_df['RatecodeID'].nunique()

7

In [22]:
# create categories for ratecode id
def ratecodeid_cat(x):
  if x == 1:
    return 'Standard rate'
  elif x == 2:
    return 'JFK'
  elif x == 3:
    return 'Newark'
  elif x == 4:
    return 'Nassau or Westchester'
  elif x == 5:
    return 'Negotiated fare'
  elif x == 6:
    return 'Group ride'
  return 'Unknown'


final_df['RatecodeID_Cat'] = final_df['RatecodeID'].apply(lambda x: ratecodeid_cat(x))
final_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,VendorID_Cat,trip_duration,time,time_seconds,RatecodeID_Cat
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,...,0.0,0.3,21.95,2.5,0.0,Creative Mobile Technologies,0 days 00:17:49,17.82,1069.0,Standard rate
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,...,0.0,0.3,13.30,0.0,0.0,Creative Mobile Technologies,0 days 00:08:24,8.40,504.0,Standard rate
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,...,0.0,0.3,10.56,0.0,0.0,VeriFone Inc,0 days 00:08:58,8.97,538.0,Standard rate
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,...,0.0,0.3,11.80,2.5,0.0,VeriFone Inc,0 days 00:10:02,10.03,602.0,Standard rate
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,...,0.0,0.3,30.30,2.5,0.0,VeriFone Inc,0 days 00:37:32,37.53,2252.0,Standard rate

In [23]:
final_df['RatecodeID_Cat'].value_counts()

Standard rate            11750427
Unknown                    454224
JFK                        384158
Negotiated fare             70286
Newark                      25114
Nassau or Westchester       14821
Group ride                     96
Name: RatecodeID_Cat, dtype: int64

In [24]:
final_df['store_and_fwd_flag'].nunique()

2

In [25]:
final_df['store_and_fwd_flag'].value_counts()

N    12050148
Y      240109
Name: store_and_fwd_flag, dtype: int64

In [26]:
final_df['payment_type'].nunique()

6

In [27]:
# create payment type categories
def paytype_cat(x):
  if x == 1:
    return 'Credit card'
  elif x == 2:
    return 'Cash'
  elif x == 3:
    return 'No charge'
  elif x == 4:
    return 'Dispute'
  elif x == 5:
    return 'Unknown'
  return 'Voided trip'


final_df['Paymenttype_Cat'] = final_df['payment_type'].apply(lambda x: paytype_cat(x))
final_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,VendorID_Cat,trip_duration,time,time_seconds,RatecodeID_Cat,Paymenttype_Cat
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,...,0.3,21.95,2.5,0.0,Creative Mobile Technologies,0 days 00:17:49,17.82,1069.0,Standard rate,Credit card
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,...,0.3,13.30,0.0,0.0,Creative Mobile Technologies,0 days 00:08:24,8.40,504.0,Standard rate,Credit card
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,...,0.3,10.56,0.0,0.0,VeriFone Inc,0 days 00:08:58,8.97,538.0,Standard rate,Credit card
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,...,0.3,11.80,2.5,0.0,VeriFone Inc,0 days 00:10:02,10.03,602.0,Standard rate,Cash
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,...,0.3,30.30,2.5,0.0,VeriFone Inc,0 days 00:37:32,37.53,2252.0,Standard rate,Credit card

In [28]:
final_df['Paymenttype_Cat'].value_counts()

Credit card    9741025
Cash           2439043
Voided trip     408869
No charge        56013
Dispute          54172
Unknown              4
Name: Paymenttype_Cat, dtype: int64