# Total Electricity

https://unstats.un.org/unsd/energystats/questionnaire/documents/Energy-Questionnaire-Guidelines.pdf

The Energy Statistics Database contains comprehensive energy statistics on the production, trade, conversion and final consumption of primary and secondary; conventional and non-conventional; and new and renewable sources of energy. The Energy Statistics dataset, covering the period from 1990 onwards, is available at UNdata.

# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
import warnings

# Options and Settings

In [2]:
%matplotlib inline
plt.style.use('ggplot')
plt.rcParams['figure.autolayout'] = True
plt.rcParams['font.size'] = 12
path = Path.cwd()                                          # get current working directory
warnings.simplefilter('ignore')

# Import Data

In [3]:
df = pd.read_csv('Total Electricity.csv')
df

,Country or Area,Commodity - Transaction,Year,Unit,Quantity,Quantity Footnotes
0,Afghanistan,Electricity - Gross production,2019.0,"Kilowatt-hours, million",1591.50,NaN
1,Afghanistan,Electricity - Gross production,2018.0,"Kilowatt-hours, million",1265.72,NaN
2,Afghanistan,Electricity - Gross production,2017.0,"Kilowatt-hours, million",1420.04,NaN
3,Afghanistan,Electricity - Gross production,2016.0,"Kilowatt-hours, million",1393.90,NaN
4,Afghanistan,Electricity - Gross production,2015.0,"Kilowatt-hours, million",1338.70,NaN
...,...,...,...,...,...,...
99997,Mauritius,"Electricity - total production, main activity",2005.0,"Kilowatt-hours, million",1208.40,NaN
99998,Mauritius,"Electricity - total production, main activity",2004.0,"Kilowatt-hours, million",1225.40,NaN
99999,Mauritius,"Electricity - total production, main activity",2003.0,"Kilowatt-hours, million",1135.00,NaN
100000,fnSeqID,Footnote,NaN,NaN,NaN,NaN
100001,1,Estimate,NaN,NaN,NaN,NaN

# Head and Tail

In [4]:
df = df[:100000]                                   # select index position 0-99999
df

,Country or Area,Commodity - Transaction,Year,Unit,Quantity,Quantity Footnotes
0,Afghanistan,Electricity - Gross production,2019.0,"Kilowatt-hours, million",1591.50,NaN
1,Afghanistan,Electricity - Gross production,2018.0,"Kilowatt-hours, million",1265.72,NaN
2,Afghanistan,Electricity - Gross production,2017.0,"Kilowatt-hours, million",1420.04,NaN
3,Afghanistan,Electricity - Gross production,2016.0,"Kilowatt-hours, million",1393.90,NaN
4,Afghanistan,Electricity - Gross production,2015.0,"Kilowatt-hours, million",1338.70,NaN
...,...,...,...,...,...,...
99995,Mauritius,"Electricity - total production, main activity",2007.0,"Kilowatt-hours, million",1003.40,NaN
99996,Mauritius,"Electricity - total production, main activity",2006.0,"Kilowatt-hours, million",1106.40,NaN
99997,Mauritius,"Electricity - total production, main activity",2005.0,"Kilowatt-hours, million",1208.40,NaN
99998,Mauritius,"Electricity - total production, main activity",2004.0,"Kilowatt-hours, million",1225.40,NaN
99999,Mauritius,"Electricity - total production, main activity",2003.0,"Kilowatt-hours, million",1135.00,NaN

In [5]:
df['Year'] = df['Year'].astype(int)                # convert year to integer
df

,Country or Area,Commodity - Transaction,Year,Unit,Quantity,Quantity Footnotes
0,Afghanistan,Electricity - Gross production,2019,"Kilowatt-hours, million",1591.50,NaN
1,Afghanistan,Electricity - Gross production,2018,"Kilowatt-hours, million",1265.72,NaN
2,Afghanistan,Electricity - Gross production,2017,"Kilowatt-hours, million",1420.04,NaN
3,Afghanistan,Electricity - Gross production,2016,"Kilowatt-hours, million",1393.90,NaN
4,Afghanistan,Electricity - Gross production,2015,"Kilowatt-hours, million",1338.70,NaN
...,...,...,...,...,...,...
99995,Mauritius,"Electricity - total production, main activity",2007,"Kilowatt-hours, million",1003.40,NaN
99996,Mauritius,"Electricity - total production, main activity",2006,"Kilowatt-hours, million",1106.40,NaN
99997,Mauritius,"Electricity - total production, main activity",2005,"Kilowatt-hours, million",1208.40,NaN
99998,Mauritius,"Electricity - total production, main activity",2004,"Kilowatt-hours, million",1225.40,NaN
99999,Mauritius,"Electricity - total production, main activity",2003,"Kilowatt-hours, million",1135.00,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Country or Area          100000 non-null  object
 1   Commodity - Transaction  100000 non-null  object
 2   Year                     100000 non-null  int32
 3   Unit                     100000 non-null  object
 4   Quantity                 100000 non-null  float64
 5   Quantity Footnotes       13023 non-null   float64
dtypes: float64(2), int32(1), object(3)
memory usage: 4.2+ MB

In [7]:
df.rename(columns={'Country or Area': 'country_or_area', 
                   'Commodity - Transaction': 'comdy_trans', 
                   }, inplace=True) 

df.columns = [col.lower() for col in df.columns]
df.head()

,country_or_area,comdy_trans,year,unit,quantity,quantity footnotes
0,Afghanistan,Electricity - Gross production,2019,"Kilowatt-hours, million",1591.50,NaN
1,Afghanistan,Electricity - Gross production,2018,"Kilowatt-hours, million",1265.72,NaN
2,Afghanistan,Electricity - Gross production,2017,"Kilowatt-hours, million",1420.04,NaN
3,Afghanistan,Electricity - Gross production,2016,"Kilowatt-hours, million",1393.90,NaN
4,Afghanistan,Electricity - Gross production,2015,"Kilowatt-hours, million",1338.70,NaN

In [8]:
cols = ['country_or_area', 'comdy_trans', 'year', 'unit', 'quantity']
df_sub = df[cols]
df_sub

,country_or_area,comdy_trans,year,unit,quantity
0,Afghanistan,Electricity - Gross production,2019,"Kilowatt-hours, million",1591.50
1,Afghanistan,Electricity - Gross production,2018,"Kilowatt-hours, million",1265.72
2,Afghanistan,Electricity - Gross production,2017,"Kilowatt-hours, million",1420.04
3,Afghanistan,Electricity - Gross production,2016,"Kilowatt-hours, million",1393.90
4,Afghanistan,Electricity - Gross production,2015,"Kilowatt-hours, million",1338.70
...,...,...,...,...,...
99995,Mauritius,"Electricity - total production, main activity",2007,"Kilowatt-hours, million",1003.40
99996,Mauritius,"Electricity - total production, main activity",2006,"Kilowatt-hours, million",1106.40
99997,Mauritius,"Electricity - total production, main activity",2005,"Kilowatt-hours, million",1208.40
99998,Mauritius,"Electricity - total production, main activity",2004,"Kilowatt-hours, million",1225.40
99999,Mauritius,"Electricity - total production, main activity",2003,"Kilowatt-hours, million",1135.00

In [9]:
df_sub.describe(include='object')

,country_or_area,comdy_trans,unit
count,100000,100000,100000
unique,139,93,1
top,France,"Electricity - Own use by electricity, heat and...","Kilowatt-hours, million"
freq,1740,3928,100000

In [10]:
df_sub['country_or_area'].value_counts()

France                         1740
Italy                          1736
Germany                        1654
Austria                        1629
Japan                          1610
                               ...
Bonaire, St Eustatius, Saba     128
Ethiopia, incl. Eritrea          68
Czechoslovakia (former)          60
Germany, Fed. R. (former)        37
German Dem. R. (former)          24
Name: country_or_area, Length: 139, dtype: int64

In [11]:
df_sub['comdy_trans'].value_counts()

Electricity - Own use by electricity, heat and CHP plants    3928
Electricity - net production                                 3926
Electricity - Gross demand                                   3908
Electricity - Consumption by other                           3908
Electricity - Final energy consumption                       3908
                                                             ...
Solar thermal â€“ Main activity                                  18
From chemical heat â€“ Main activity â€“ Electricity plants        16
Electricity - Own use by gas-to-liquid (GTL) plants            11
Solar thermal â€“ Autoproducer                                    8
Electricity - Own use by charcoal plants                        3
Name: comdy_trans, Length: 93, dtype: int64

In [12]:
df_sub['year'].value_counts()

2016    4000
2015    3964
2017    3961
2018    3955
2014    3927
2013    3898
2012    3807
2010    3764
2011    3751
2009    3720
2008    3689
2007    3608
2006    3455
2005    3410
2004    3325
2003    3288
2002    3269
2001    3201
2000    3196
1999    3136
1998    3112
1997    3102
1996    3083
1995    3078
1994    3058
1993    3022
1992    2985
1991    2593
1990    2571
2019    1072
Name: year, dtype: int64

In [13]:
df_sub['quantity'].describe()

count    1.000000e+05
mean     2.429092e+04
std      1.651396e+05
min     -9.998750e+05
25%      9.362563e+01
50%      6.750000e+02
75%      5.341000e+03
max      7.166133e+06
Name: quantity, dtype: float64

# Descriptive Statistics

In [14]:
mini_qty = np.round(df_sub['quantity'].min(), 2)
maxi_qty = np.round(df_sub['quantity'].max(), 2)
sum_qty = np.round(df_sub['quantity'].sum(), 2)

# total electricity for each country or area and years
print('Minimum, maximum and sum of electricity quantity are {:,} kWh, {:,} kWh and {:,} kWh respectively'.format(mini_qty, maxi_qty, sum_qty))

Minimum, maximum and sum of electricity quantity are -999,875.0 kWh, 7,166,133.0 kWh and 2,429,091,654.0 kWh respectively

# Dataframe Grouping

In [15]:
cnt_area_grp = df_sub.groupby('country_or_area')
cnt_area_grp.head()

,country_or_area,comdy_trans,year,unit,quantity
0,Afghanistan,Electricity - Gross production,2019,"Kilowatt-hours, million",1591.50
1,Afghanistan,Electricity - Gross production,2018,"Kilowatt-hours, million",1265.72
2,Afghanistan,Electricity - Gross production,2017,"Kilowatt-hours, million",1420.04
3,Afghanistan,Electricity - Gross production,2016,"Kilowatt-hours, million",1393.90
4,Afghanistan,Electricity - Gross production,2015,"Kilowatt-hours, million",1338.70
...,...,...,...,...,...
99394,Mauritius,Electricity - Gross production,2018,"Kilowatt-hours, million",3131.50
99395,Mauritius,Electricity - Gross production,2017,"Kilowatt-hours, million",3119.70
99396,Mauritius,Electricity - Gross production,2016,"Kilowatt-hours, million",3042.23
99397,Mauritius,Electricity - Gross production,2015,"Kilowatt-hours, million",2995.60
99398,Mauritius,Electricity - Gross production,2014,"Kilowatt-hours, million",2935.90

In [16]:
grpd_cnty_stats = cnt_area_grp.agg(
    min_qty = pd.NamedAgg('quantity', 'min'),
    mean_qty = pd.NamedAgg('quantity', 'mean'),
    max_qty = pd.NamedAgg('quantity', 'max'),
    total_qty = pd.NamedAgg('quantity', 'sum')
)

grpd_cnty_stats

                       min_qty      mean_qty   max_qty    total_qty
country_or_area
Afghanistan       1.200000e+00    634.881466   6142.50   406959.020
Albania           0.000000e+00   1730.243906   9278.53  1271729.271
Algeria           0.000000e+00  10367.785635  76664.00  9382846.000
American Samoa    0.000000e+00     88.853376    189.00    39450.899
Andorra           0.000000e+00    144.855171    593.29    76338.675
...                        ...           ...       ...          ...
Malta             0.000000e+00    784.232407   2707.70   505045.670
Marshall Islands -2.831069e-15     47.355701    101.30    19936.750
Martinique        6.000000e-03    590.944934   1617.00   518849.652
Mauritania        1.632000e+00    288.663493   1478.70   172043.442
Mauritius         0.000000e+00    669.062739   3131.50   405452.020

[139 rows x 4 columns]

In [17]:
grpd_cnty_stats['total_qty'].sort_values(ascending=False).head(10)           # top 10 countries/area with the highest total electricity

country_or_area
China                 7.367588e+08
Japan                 2.711636e+08
India                 1.813170e+08
Germany               1.483227e+08
Canada                1.431019e+08
France                1.314203e+08
Brazil                1.024703e+08
Korea, Republic of    9.434827e+07
Italy                 7.652770e+07
Australia             5.586351e+07
Name: total_qty, dtype: float64

In [18]:
cnt_area_grp.get_group('China')

,country_or_area,comdy_trans,year,unit,quantity
30054,China,Electricity - Gross production,2018,"Kilowatt-hours, million",7166133.0
30055,China,Electricity - Gross production,2017,"Kilowatt-hours, million",6530689.0
30056,China,Electricity - Gross production,2016,"Kilowatt-hours, million",6145886.2
30057,China,Electricity - Gross production,2015,"Kilowatt-hours, million",5814572.6
30058,China,Electricity - Gross production,2014,"Kilowatt-hours, million",5649583.4
...,...,...,...,...,...
31085,China,"Electricity - total production, autoproducer",2006,"Kilowatt-hours, million",192175.0
31086,China,"Electricity - total production, autoproducer",2005,"Kilowatt-hours, million",166038.9
31087,China,"Electricity - total production, autoproducer",2004,"Kilowatt-hours, million",145622.2
31088,China,"Electricity - total production, autoproducer",2003,"Kilowatt-hours, million",128167.3
31089,China,"Electricity - total production, autoproducer",2002,"Kilowatt-hours, million",108522.8

In [19]:
cnt_area_grp.get_group('Japan')

,country_or_area,comdy_trans,year,unit,quantity
78774,Japan,Electricity - Gross production,2018,"Kilowatt-hours, million",1057755.0
78775,Japan,Electricity - Gross production,2017,"Kilowatt-hours, million",1071200.0
78776,Japan,Electricity - Gross production,2016,"Kilowatt-hours, million",1061874.0
78777,Japan,Electricity - Gross production,2015,"Kilowatt-hours, million",1058748.0
78778,Japan,Electricity - Gross production,2014,"Kilowatt-hours, million",1076066.0
...,...,...,...,...,...
80379,Japan,"Electricity - total production, autoproducer",1994,"Kilowatt-hours, million",119508.0
80380,Japan,"Electricity - total production, autoproducer",1993,"Kilowatt-hours, million",115949.0
80381,Japan,"Electricity - total production, autoproducer",1992,"Kilowatt-hours, million",115200.0
80382,Japan,"Electricity - total production, autoproducer",1991,"Kilowatt-hours, million",115277.0
80383,Japan,"Electricity - total production, autoproducer",1990,"Kilowatt-hours, million",113079.0

In [20]:
cnt_area_grp.get_group('India')

,country_or_area,comdy_trans,year,unit,quantity
70839,India,Electricity - Gross production,2018,"Kilowatt-hours, million",1521785.0
70840,India,Electricity - Gross production,2017,"Kilowatt-hours, million",1490293.0
70841,India,Electricity - Gross production,2016,"Kilowatt-hours, million",1432358.0
70842,India,Electricity - Gross production,2015,"Kilowatt-hours, million",1354382.0
70843,India,Electricity - Gross production,2014,"Kilowatt-hours, million",1308873.0
...,...,...,...,...,...
71743,India,"Electricity - total production, autoproducer",1994,"Kilowatt-hours, million",35067.0
71744,India,"Electricity - total production, autoproducer",1993,"Kilowatt-hours, million",32285.0
71745,India,"Electricity - total production, autoproducer",1992,"Kilowatt-hours, million",31351.0
71746,India,"Electricity - total production, autoproducer",1991,"Kilowatt-hours, million",28602.0
71747,India,"Electricity - total production, autoproducer",1990,"Kilowatt-hours, million",25111.0

In [21]:
cnt_area_grp.get_group('Germany')

,country_or_area,comdy_trans,year,unit,quantity
58261,Germany,Electricity - Gross production,2018,"Kilowatt-hours, million",643159.0
58262,Germany,Electricity - Gross production,2017,"Kilowatt-hours, million",653723.0
58263,Germany,Electricity - Gross production,2016,"Kilowatt-hours, million",650450.0
58264,Germany,Electricity - Gross production,2015,"Kilowatt-hours, million",648310.0
58265,Germany,Electricity - Gross production,2014,"Kilowatt-hours, million",627806.0
...,...,...,...,...,...
59910,Germany,"Electricity - total production, autoproducer",1995,"Kilowatt-hours, million",74727.0
59911,Germany,"Electricity - total production, autoproducer",1994,"Kilowatt-hours, million",72207.0
59912,Germany,"Electricity - total production, autoproducer",1993,"Kilowatt-hours, million",73166.0
59913,Germany,"Electricity - total production, autoproducer",1992,"Kilowatt-hours, million",76217.0
59914,Germany,"Electricity - total production, autoproducer",1991,"Kilowatt-hours, million",80435.0

In [22]:
cnt_area_grp.get_group('Canada')

,country_or_area,comdy_trans,year,unit,quantity
26134,Canada,Electricity - Gross production,2018,"Kilowatt-hours, million",654399.0
26135,Canada,Electricity - Gross production,2017,"Kilowatt-hours, million",662972.0
26136,Canada,Electricity - Gross production,2016,"Kilowatt-hours, million",663808.0
26137,Canada,Electricity - Gross production,2015,"Kilowatt-hours, million",657944.0
26138,Canada,Electricity - Gross production,2014,"Kilowatt-hours, million",658762.0
...,...,...,...,...,...
27559,Canada,"Electricity - total production, autoproducer",1994,"Kilowatt-hours, million",44753.0
27560,Canada,"Electricity - total production, autoproducer",1993,"Kilowatt-hours, million",44593.0
27561,Canada,"Electricity - total production, autoproducer",1992,"Kilowatt-hours, million",41714.0
27562,Canada,"Electricity - total production, autoproducer",1991,"Kilowatt-hours, million",42091.0
27563,Canada,"Electricity - total production, autoproducer",1990,"Kilowatt-hours, million",41845.0

In [23]:
cnt_area_grp.get_group('France')

,country_or_area,comdy_trans,year,unit,quantity
53129,France,Electricity - Gross production,2018,"Kilowatt-hours, million",581943.0
53130,France,Electricity - Gross production,2017,"Kilowatt-hours, million",561935.0
53131,France,Electricity - Gross production,2016,"Kilowatt-hours, million",564181.0
53132,France,Electricity - Gross production,2015,"Kilowatt-hours, million",579542.0
53133,France,Electricity - Gross production,2014,"Kilowatt-hours, million",572522.0
...,...,...,...,...,...
54864,France,"Electricity - total production, autoproducer",1994,"Kilowatt-hours, million",26087.0
54865,France,"Electricity - total production, autoproducer",1993,"Kilowatt-hours, million",25444.0
54866,France,"Electricity - total production, autoproducer",1992,"Kilowatt-hours, million",25548.0
54867,France,"Electricity - total production, autoproducer",1991,"Kilowatt-hours, million",27267.0
54868,France,"Electricity - total production, autoproducer",1990,"Kilowatt-hours, million",26241.0

In [24]:
cnt_area_grp.get_group('Brazil')

,country_or_area,comdy_trans,year,unit,quantity
20064,Brazil,Electricity - Gross production,2019,"Kilowatt-hours, million",626329.0
20065,Brazil,Electricity - Gross production,2018,"Kilowatt-hours, million",601396.0
20066,Brazil,Electricity - Gross production,2017,"Kilowatt-hours, million",589326.0
20067,Brazil,Electricity - Gross production,2016,"Kilowatt-hours, million",578897.0
20068,Brazil,Electricity - Gross production,2015,"Kilowatt-hours, million",581228.0
...,...,...,...,...,...
21068,Brazil,"Electricity - total production, autoproducer",1994,"Kilowatt-hours, million",14166.0
21069,Brazil,"Electricity - total production, autoproducer",1993,"Kilowatt-hours, million",14035.0
21070,Brazil,"Electricity - total production, autoproducer",1992,"Kilowatt-hours, million",13020.0
21071,Brazil,"Electricity - total production, autoproducer",1991,"Kilowatt-hours, million",12432.0
21072,Brazil,"Electricity - total production, autoproducer",1990,"Kilowatt-hours, million",11907.0

In [25]:
cnt_area_grp.get_group('Korea, Republic of')

,country_or_area,comdy_trans,year,unit,quantity
84138,"Korea, Republic of",Electricity - Gross production,2018,"Kilowatt-hours, million",590108.0
84139,"Korea, Republic of",Electricity - Gross production,2017,"Kilowatt-hours, million",566881.0
84140,"Korea, Republic of",Electricity - Gross production,2016,"Kilowatt-hours, million",562603.0
84141,"Korea, Republic of",Electricity - Gross production,2015,"Kilowatt-hours, million",552697.0
84142,"Korea, Republic of",Electricity - Gross production,2014,"Kilowatt-hours, million",550934.0
...,...,...,...,...,...
85489,"Korea, Republic of","Electricity - total production, autoproducer",1994,"Kilowatt-hours, million",9802.0
85490,"Korea, Republic of","Electricity - total production, autoproducer",1993,"Kilowatt-hours, million",9998.0
85491,"Korea, Republic of","Electricity - total production, autoproducer",1992,"Kilowatt-hours, million",4182.0
85492,"Korea, Republic of","Electricity - total production, autoproducer",1991,"Kilowatt-hours, million",5525.0
85493,"Korea, Republic of","Electricity - total production, autoproducer",1990,"Kilowatt-hours, million",5892.0

In [26]:
cnt_area_grp.get_group('Italy')

,country_or_area,comdy_trans,year,unit,quantity
76445,Italy,Electricity - Gross production,2018,"Kilowatt-hours, million",289710.0
76446,Italy,Electricity - Gross production,2017,"Kilowatt-hours, million",295833.0
76447,Italy,Electricity - Gross production,2016,"Kilowatt-hours, million",289768.0
76448,Italy,Electricity - Gross production,2015,"Kilowatt-hours, million",282994.0
76449,Italy,Electricity - Gross production,2014,"Kilowatt-hours, million",279827.0
...,...,...,...,...,...
78176,Italy,"Electricity - total production, autoproducer",1994,"Kilowatt-hours, million",38605.0
78177,Italy,"Electricity - total production, autoproducer",1993,"Kilowatt-hours, million",34962.0
78178,Italy,"Electricity - total production, autoproducer",1992,"Kilowatt-hours, million",32107.0
78179,Italy,"Electricity - total production, autoproducer",1991,"Kilowatt-hours, million",29156.0
78180,Italy,"Electricity - total production, autoproducer",1990,"Kilowatt-hours, million",26271.0

In [27]:
cnt_area_grp.get_group('Australia')

,country_or_area,comdy_trans,year,unit,quantity
6699,Australia,Electricity - Gross production,2018,"Kilowatt-hours, million",260998.0
6700,Australia,Electricity - Gross production,2017,"Kilowatt-hours, million",258019.0
6701,Australia,Electricity - Gross production,2016,"Kilowatt-hours, million",256563.0
6702,Australia,Electricity - Gross production,2015,"Kilowatt-hours, million",251415.0
6703,Australia,Electricity - Gross production,2014,"Kilowatt-hours, million",247451.0
...,...,...,...,...,...
8190,Australia,"Electricity - total production, autoproducer",1994,"Kilowatt-hours, million",6347.0
8191,Australia,"Electricity - total production, autoproducer",1993,"Kilowatt-hours, million",6361.0
8192,Australia,"Electricity - total production, autoproducer",1992,"Kilowatt-hours, million",6433.0
8193,Australia,"Electricity - total production, autoproducer",1991,"Kilowatt-hours, million",6484.0
8194,Australia,"Electricity - total production, autoproducer",1990,"Kilowatt-hours, million",6469.0

In [28]:
grpd_cnty_stats['total_qty'].sort_values(ascending=True).head(10)           # top 10 countries/area with the lowest total electricity

country_or_area
Falkland Is. (Malvinas)         4061.852607
Kiribati                        4877.200000
Cook Islands                    7069.500000
Bonaire, St Eustatius, Saba     8710.900000
Comoros                        10370.355000
Guinea-Bissau                  10505.165345
Anguilla                       16343.750000
Marshall Islands               19936.750000
Dominica                       25025.057000
Central African Rep.           32273.200000
Name: total_qty, dtype: float64

In [29]:
cnt_area_grp.get_group('Falkland Is. (Malvinas)')

,country_or_area,comdy_trans,year,unit,quantity
50477,Falkland Is. (Malvinas),Electricity - Gross production,2019,"Kilowatt-hours, million",19.610000
50478,Falkland Is. (Malvinas),Electricity - Gross production,2018,"Kilowatt-hours, million",19.168730
50479,Falkland Is. (Malvinas),Electricity - Gross production,2017,"Kilowatt-hours, million",19.509780
50480,Falkland Is. (Malvinas),Electricity - Gross production,2016,"Kilowatt-hours, million",20.725371
50481,Falkland Is. (Malvinas),Electricity - Gross production,2015,"Kilowatt-hours, million",18.826545
...,...,...,...,...,...
50985,Falkland Is. (Malvinas),"Electricity - total production, autoproducer",1994,"Kilowatt-hours, million",2.000000
50986,Falkland Is. (Malvinas),"Electricity - total production, autoproducer",1993,"Kilowatt-hours, million",2.000000
50987,Falkland Is. (Malvinas),"Electricity - total production, autoproducer",1992,"Kilowatt-hours, million",2.000000
50988,Falkland Is. (Malvinas),"Electricity - total production, autoproducer",1991,"Kilowatt-hours, million",2.000000
50989,Falkland Is. (Malvinas),"Electricity - total production, autoproducer",1990,"Kilowatt-hours, million",2.000000

In [30]:
cnt_area_grp.get_group('Kiribati')

,country_or_area,comdy_trans,year,unit,quantity
83214,Kiribati,Electricity - Gross production,2019,"Kilowatt-hours, million",31.9
83215,Kiribati,Electricity - Gross production,2018,"Kilowatt-hours, million",31.4
83216,Kiribati,Electricity - Gross production,2017,"Kilowatt-hours, million",31.0
83217,Kiribati,Electricity - Gross production,2016,"Kilowatt-hours, million",31.0
83218,Kiribati,Electricity - Gross production,2015,"Kilowatt-hours, million",29.4
...,...,...,...,...,...
83672,Kiribati,"Electricity - total production, autoproducer",2009,"Kilowatt-hours, million",1.5
83673,Kiribati,"Electricity - total production, autoproducer",2008,"Kilowatt-hours, million",1.5
83674,Kiribati,"Electricity - total production, autoproducer",2007,"Kilowatt-hours, million",1.5
83675,Kiribati,"Electricity - total production, autoproducer",2006,"Kilowatt-hours, million",1.5
83676,Kiribati,"Electricity - total production, autoproducer",2005,"Kilowatt-hours, million",1.0

In [31]:
cnt_area_grp.get_group('Cook Islands')

,country_or_area,comdy_trans,year,unit,quantity
34010,Cook Islands,Electricity - Gross production,2019,"Kilowatt-hours, million",38.7
34011,Cook Islands,Electricity - Gross production,2018,"Kilowatt-hours, million",41.4
34012,Cook Islands,Electricity - Gross production,2017,"Kilowatt-hours, million",36.7
34013,Cook Islands,Electricity - Gross production,2016,"Kilowatt-hours, million",34.2
34014,Cook Islands,Electricity - Gross production,2015,"Kilowatt-hours, million",32.7
...,...,...,...,...,...
34302,Cook Islands,Electricity - Gross demand,1994,"Kilowatt-hours, million",16.0
34303,Cook Islands,Electricity - Gross demand,1993,"Kilowatt-hours, million",16.0
34304,Cook Islands,Electricity - Gross demand,1992,"Kilowatt-hours, million",16.0
34305,Cook Islands,Electricity - Gross demand,1991,"Kilowatt-hours, million",16.0
34306,Cook Islands,Electricity - Gross demand,1990,"Kilowatt-hours, million",16.0

In [32]:
cnt_area_grp.get_group('Bonaire, St Eustatius, Saba')

,country_or_area,comdy_trans,year,unit,quantity
18573,"Bonaire, St Eustatius, Saba",Electricity - Gross production,2019,"Kilowatt-hours, million",145.0
18574,"Bonaire, St Eustatius, Saba",Electricity - Gross production,2018,"Kilowatt-hours, million",143.0
18575,"Bonaire, St Eustatius, Saba",Electricity - Gross production,2017,"Kilowatt-hours, million",141.6
18576,"Bonaire, St Eustatius, Saba",Electricity - Gross production,2016,"Kilowatt-hours, million",137.1
18577,"Bonaire, St Eustatius, Saba",Electricity - Gross production,2015,"Kilowatt-hours, million",126.7
...,...,...,...,...,...
18696,"Bonaire, St Eustatius, Saba",Electricity - Gross demand,2016,"Kilowatt-hours, million",120.7
18697,"Bonaire, St Eustatius, Saba",Electricity - Gross demand,2015,"Kilowatt-hours, million",115.6
18698,"Bonaire, St Eustatius, Saba",Electricity - Gross demand,2014,"Kilowatt-hours, million",108.9
18699,"Bonaire, St Eustatius, Saba",Electricity - Gross demand,2013,"Kilowatt-hours, million",104.7
18700,"Bonaire, St Eustatius, Saba",Electricity - Gross demand,2012,"Kilowatt-hours, million",102.4

In [33]:
cnt_area_grp.get_group('Comoros')

,country_or_area,comdy_trans,year,unit,quantity
33152,Comoros,Electricity - Gross production,2019,"Kilowatt-hours, million",108.400
33153,Comoros,Electricity - Gross production,2018,"Kilowatt-hours, million",98.400
33154,Comoros,Electricity - Gross production,2017,"Kilowatt-hours, million",90.860
33155,Comoros,Electricity - Gross production,2016,"Kilowatt-hours, million",58.400
33156,Comoros,Electricity - Gross production,2015,"Kilowatt-hours, million",52.900
...,...,...,...,...,...
33507,Comoros,Electricity - Gross demand,1994,"Kilowatt-hours, million",15.856
33508,Comoros,Electricity - Gross demand,1993,"Kilowatt-hours, million",14.975
33509,Comoros,Electricity - Gross demand,1992,"Kilowatt-hours, million",14.975
33510,Comoros,Electricity - Gross demand,1991,"Kilowatt-hours, million",14.094
33511,Comoros,Electricity - Gross demand,1990,"Kilowatt-hours, million",14.094

In [34]:
cnt_area_grp.get_group('Guinea-Bissau')

,country_or_area,comdy_trans,year,unit,quantity
66023,Guinea-Bissau,Electricity - Gross production,2019,"Kilowatt-hours, million",87.605
66024,Guinea-Bissau,Electricity - Gross production,2018,"Kilowatt-hours, million",86.600
66025,Guinea-Bissau,Electricity - Gross production,2017,"Kilowatt-hours, million",85.610
66026,Guinea-Bissau,Electricity - Gross production,2016,"Kilowatt-hours, million",84.420
66027,Guinea-Bissau,Electricity - Gross production,2015,"Kilowatt-hours, million",58.076
...,...,...,...,...,...
66502,Guinea-Bissau,"Electricity - total production, autoproducer",1994,"Kilowatt-hours, million",4.000
66503,Guinea-Bissau,"Electricity - total production, autoproducer",1993,"Kilowatt-hours, million",4.000
66504,Guinea-Bissau,"Electricity - total production, autoproducer",1992,"Kilowatt-hours, million",4.000
66505,Guinea-Bissau,"Electricity - total production, autoproducer",1991,"Kilowatt-hours, million",4.000
66506,Guinea-Bissau,"Electricity - total production, autoproducer",1990,"Kilowatt-hours, million",4.000

In [35]:
cnt_area_grp.get_group('Anguilla')

,country_or_area,comdy_trans,year,unit,quantity
3779,Anguilla,Electricity - Gross production,2019,"Kilowatt-hours, million",94.0
3780,Anguilla,Electricity - Gross production,2018,"Kilowatt-hours, million",87.0
3781,Anguilla,Electricity - Gross production,2017,"Kilowatt-hours, million",79.9
3782,Anguilla,Electricity - Gross production,2016,"Kilowatt-hours, million",103.5
3783,Anguilla,Electricity - Gross production,2015,"Kilowatt-hours, million",94.5
...,...,...,...,...,...
4141,Anguilla,Electricity - Gross demand,1994,"Kilowatt-hours, million",25.9
4142,Anguilla,Electricity - Gross demand,1993,"Kilowatt-hours, million",27.2
4143,Anguilla,Electricity - Gross demand,1992,"Kilowatt-hours, million",19.5
4144,Anguilla,Electricity - Gross demand,1991,"Kilowatt-hours, million",14.5
4145,Anguilla,Electricity - Gross demand,1990,"Kilowatt-hours, million",16.7

In [36]:
cnt_area_grp.get_group('Marshall Islands')

,country_or_area,comdy_trans,year,unit,quantity
97499,Marshall Islands,Electricity - Gross production,2019,"Kilowatt-hours, million",89.7
97500,Marshall Islands,Electricity - Gross production,2018,"Kilowatt-hours, million",89.5
97501,Marshall Islands,Electricity - Gross production,2017,"Kilowatt-hours, million",89.1
97502,Marshall Islands,Electricity - Gross production,2016,"Kilowatt-hours, million",87.5
97503,Marshall Islands,Electricity - Gross production,2015,"Kilowatt-hours, million",86.5
...,...,...,...,...,...
97915,Marshall Islands,Electricity - Gross demand,1996,"Kilowatt-hours, million",79.2
97916,Marshall Islands,Electricity - Gross demand,1995,"Kilowatt-hours, million",78.0
97917,Marshall Islands,Electricity - Gross demand,1994,"Kilowatt-hours, million",74.0
97918,Marshall Islands,Electricity - Gross demand,1993,"Kilowatt-hours, million",70.0
97919,Marshall Islands,Electricity - Gross demand,1992,"Kilowatt-hours, million",65.0

In [37]:
cnt_area_grp.get_group('Dominica')

,country_or_area,comdy_trans,year,unit,quantity
43160,Dominica,Electricity - Gross production,2019,"Kilowatt-hours, million",137.500
43161,Dominica,Electricity - Gross production,2018,"Kilowatt-hours, million",109.504
43162,Dominica,Electricity - Gross production,2017,"Kilowatt-hours, million",129.747
43163,Dominica,Electricity - Gross production,2016,"Kilowatt-hours, million",155.889
43164,Dominica,Electricity - Gross production,2015,"Kilowatt-hours, million",151.090
...,...,...,...,...,...
43682,Dominica,"Electricity - total production, autoproducer",2008,"Kilowatt-hours, million",41.700
43683,Dominica,"Electricity - total production, autoproducer",2007,"Kilowatt-hours, million",38.700
43684,Dominica,"Electricity - total production, autoproducer",2006,"Kilowatt-hours, million",36.500
43685,Dominica,"Electricity - total production, autoproducer",2005,"Kilowatt-hours, million",34.900
43686,Dominica,"Electricity - total production, autoproducer",2004,"Kilowatt-hours, million",35.100

In [38]:
cnt_area_grp.get_group('Central African Rep.')

,country_or_area,comdy_trans,year,unit,quantity
27997,Central African Rep.,Electricity - Gross production,2019,"Kilowatt-hours, million",147.43
27998,Central African Rep.,Electricity - Gross production,2018,"Kilowatt-hours, million",147.43
27999,Central African Rep.,Electricity - Gross production,2017,"Kilowatt-hours, million",145.43
28000,Central African Rep.,Electricity - Gross production,2016,"Kilowatt-hours, million",143.43
28001,Central African Rep.,Electricity - Gross production,2015,"Kilowatt-hours, million",142.43
...,...,...,...,...,...
28524,Central African Rep.,Electricity - Gross demand,1994,"Kilowatt-hours, million",101.00
28525,Central African Rep.,Electricity - Gross demand,1993,"Kilowatt-hours, million",97.00
28526,Central African Rep.,Electricity - Gross demand,1992,"Kilowatt-hours, million",96.00
28527,Central African Rep.,Electricity - Gross demand,1991,"Kilowatt-hours, million",94.00
28528,Central African Rep.,Electricity - Gross demand,1990,"Kilowatt-hours, million",95.00