# Gross domestic expenditure on R & D

# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings

# Options and Settings

In [2]:
%matplotlib inline
plt.style.use('ggplot')
plt.rcParams['figure.autolayout'] = True
plt.rcParams['figure.figsize'] = [12, 9]
plt.rcParams['font.size'] = 12
path = os.getcwd()                                         # get current working directory
warnings.simplefilter('ignore')

# Import Data

In [3]:
filepath = os.path.join('datasets', 'Gross domestic expenditure on R & D.csv')
df = pd.read_csv(filepath)

# Head and Tail

In [4]:
df

,Region/Country/Area,Unnamed: 1,Year,Series,Value,Footnotes,Source,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,1,"Total, all countries or areas",2005,Gross domestic expenditure on R & D: as a perc...,1.5,NaN,"United Nations Educational, Scientific and Cul...",NaN,NaN,NaN,NaN
1,1,"Total, all countries or areas",2010,Gross domestic expenditure on R & D: as a perc...,1.6,NaN,"United Nations Educational, Scientific and Cul...",NaN,NaN,NaN,NaN
2,1,"Total, all countries or areas",2015,Gross domestic expenditure on R & D: as a perc...,1.7,NaN,"United Nations Educational, Scientific and Cul...",NaN,NaN,NaN,NaN
3,1,"Total, all countries or areas",2018,Gross domestic expenditure on R & D: as a perc...,1.7,NaN,"United Nations Educational, Scientific and Cul...",NaN,NaN,NaN,NaN
4,15,Northern Africa,2005,Gross domestic expenditure on R & D: as a perc...,0.3,NaN,"United Nations Educational, Scientific and Cul...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2556,894,Zambia,2008,Gross domestic expenditure on R & D: as a perc...,0.3,Break in the time series.,"United Nations Educational, Scientific and Cul...",NaN,NaN,NaN,NaN
2557,894,Zambia,2008,Gross domestic expenditure on R & D: Business ...,3.2,Break in the time series.,"United Nations Educational, Scientific and Cul...",NaN,NaN,NaN,NaN
2558,894,Zambia,2008,Gross domestic expenditure on R & D: Governmen...,94.8,Break in the time series.,"United Nations Educational, Scientific and Cul...",NaN,NaN,NaN,NaN
2559,894,Zambia,2008,Gross domestic expenditure on R & D: Private n...,0.3,Break in the time series.,"United Nations Educational, Scientific and Cul...",NaN,NaN,NaN,NaN
2560,894,Zambia,2008,Gross domestic expenditure on R & D: Funds fro...,1.6,Break in the time series.,"United Nations Educational, Scientific and Cul...",NaN,NaN,NaN,NaN

In [5]:
df.shape

(2561, 11)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2561 entries, 0 to 2560
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Region/Country/Area  2561 non-null   int64
 1   Unnamed: 1           2561 non-null   object
 2   Year                 2561 non-null   int64
 3   Series               2561 non-null   object
 4   Value                2561 non-null   float64
 5   Footnotes            793 non-null    object
 6   Source               2561 non-null   object
 7   Unnamed: 7           163 non-null    object
 8   Unnamed: 8           33 non-null     object
 9   Unnamed: 9           5 non-null      object
 10  Unnamed: 10          1 non-null      object
dtypes: float64(1), int64(2), object(8)
memory usage: 220.2+ KB

In [7]:
df.rename(columns={'Region/Country/Area': 'Code', 
                   'Unnamed: 1': 'Region/Country/Area',
                   }, inplace=True)

df.head()

,Code,Region/Country/Area,Year,Series,Value,Footnotes,Source,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,1,"Total, all countries or areas",2005,Gross domestic expenditure on R & D: as a perc...,1.5,NaN,"United Nations Educational, Scientific and Cul...",NaN,NaN,NaN,NaN
1,1,"Total, all countries or areas",2010,Gross domestic expenditure on R & D: as a perc...,1.6,NaN,"United Nations Educational, Scientific and Cul...",NaN,NaN,NaN,NaN
2,1,"Total, all countries or areas",2015,Gross domestic expenditure on R & D: as a perc...,1.7,NaN,"United Nations Educational, Scientific and Cul...",NaN,NaN,NaN,NaN
3,1,"Total, all countries or areas",2018,Gross domestic expenditure on R & D: as a perc...,1.7,NaN,"United Nations Educational, Scientific and Cul...",NaN,NaN,NaN,NaN
4,15,Northern Africa,2005,Gross domestic expenditure on R & D: as a perc...,0.3,NaN,"United Nations Educational, Scientific and Cul...",NaN,NaN,NaN,NaN

In [8]:
df1 = df[['Code', 'Region/Country/Area', 'Year', 'Series', 'Value']]
df1

,Code,Region/Country/Area,Year,Series,Value
0,1,"Total, all countries or areas",2005,Gross domestic expenditure on R & D: as a perc...,1.5
1,1,"Total, all countries or areas",2010,Gross domestic expenditure on R & D: as a perc...,1.6
2,1,"Total, all countries or areas",2015,Gross domestic expenditure on R & D: as a perc...,1.7
3,1,"Total, all countries or areas",2018,Gross domestic expenditure on R & D: as a perc...,1.7
4,15,Northern Africa,2005,Gross domestic expenditure on R & D: as a perc...,0.3
...,...,...,...,...,...
2556,894,Zambia,2008,Gross domestic expenditure on R & D: as a perc...,0.3
2557,894,Zambia,2008,Gross domestic expenditure on R & D: Business ...,3.2
2558,894,Zambia,2008,Gross domestic expenditure on R & D: Governmen...,94.8
2559,894,Zambia,2008,Gross domestic expenditure on R & D: Private n...,0.3
2560,894,Zambia,2008,Gross domestic expenditure on R & D: Funds fro...,1.6

In [9]:
df1.shape

(2561, 5)

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2561 entries, 0 to 2560
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Code                 2561 non-null   int64
 1   Region/Country/Area  2561 non-null   object
 2   Year                 2561 non-null   int64
 3   Series               2561 non-null   object
 4   Value                2561 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 100.2+ KB

In [11]:
df1.describe(include='object')

       Region/Country/Area                                             Series
count                 2561                                               2561
unique                 162                                                  7
top                Austria  Gross domestic expenditure on R & D: as a perc...
freq                    39                                                600

In [12]:
df1['Region/Country/Area'].value_counts()

Austria                 39
Panama                  39
Uruguay                 38
Azerbaijan              37
Mongolia                36
                        ..
Syrian Arab Republic     1
Greenland                1
Sudan                    1
Jamaica                  1
Nepal                    1
Name: Region/Country/Area, Length: 162, dtype: int64

In [13]:
df1['Series'].value_counts()

Gross domestic expenditure on R & D: as a percentage of GDP (%)    600
Gross domestic expenditure on R & D: Government (%)                434
Gross domestic expenditure on R & D: Business enterprises (%)      384
Gross domestic expenditure on R & D: Funds from abroad (%)         384
Gross domestic expenditure on R & D: Higher education (%)          334
Gross domestic expenditure on R & D: Private non-profit (%)        306
Gross domestic expenditure on R & D: Not distributed (%)           119
Name: Series, dtype: int64

In [14]:
df1['Code'].value_counts()

40     39
591    39
858    38
31     37
496    36
       ..
760     1
304     1
729     1
388     1
524     1
Name: Code, Length: 162, dtype: int64

# Data Cleaning

In [15]:
df1['Region/Country/Area'].replace(
    {'Cï¿½te dï¿½Ivoire': "CÃ´te dâ€™Ivoire"}, inplace=True)

df1['Region/Country/Area'].unique()

array(['Total, all countries or areas', 'Northern Africa',
       'Sub-Saharan Africa', 'Northern America',
       'Latin America & the Caribbean', 'Central Asia', 'Eastern Asia',
       'South-eastern Asia', 'Southern Asia', 'Western Asia', 'Europe',
       'Oceania', 'Australia and New Zealand', 'Albania', 'Algeria',
       'American Samoa', 'Angola', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahrain', 'Belarus', 'Belgium',
       'Bermuda', 'Bolivia (Plurin. State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Canada',
       'Chad', 'Chile', 'China', 'China, Hong Kong SAR',
       'China, Macao SAR', 'Colombia', 'Costa Rica', 'CÃ´te dâ€™Ivoire',
       'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Dem. Rep. of the Congo',
       'Denmark', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Eswatini', 'Ethiopia', 'Faroe Islands', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Guam', 'Guatemala', 'Honduras', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Dem. Rep.", 'Latvia', 'Lesotho', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malaysia', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Vincent & Grenadines', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa',
       'Spain', 'Sri Lanka', 'State of Palestine', 'Sudan', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Rep. of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan',
       'Venezuela (Boliv. Rep. of)', 'Viet Nam', 'Zambia'], dtype=object)

In [16]:
df1['Year'].value_counts().head()

2015    531
2010    443
2005    416
2018    296
2017    279
Name: Year, dtype: int64

In [17]:
df1['Value'].describe()

count    2561.000000
mean       17.405193
std        24.001322
min         0.000000
25%         0.600000
50%         3.500000
75%        30.800000
max       100.000000
Name: Value, dtype: float64

# Missing Values Exploration

In [18]:
df1.isna().sum()

Code                   0
Region/Country/Area    0
Year                   0
Series                 0
Value                  0
dtype: int64